.squat .info-accordion ion-accordion {
  background-color: #fff;
  border-bottom: 1px solid var(--ion-color-light);
}
.squat .info-accordion ion-accordion.accordion-collapsed {
  border-bottom: 1px solid var(--ion-color-light);
}
.squat .info-accordion ion-accordion:not(.accordion-collapsed) {
  border-bottom-color: #fff;
}
.squat .info-accordion ion-accordion::part(header) {
  min-height: 24px;
  border-bottom: 1px solid #fff;
  width: max-content;
}
.squat .info-accordion ion-accordion::part(content) {
  background: #fff;
}
.squat .info-accordion ion-accordion .tabContent {
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid var(--ion-color-light);
}
.squat .info-accordion .accItem {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  --padding-start: 0;
  --inner-padding-start: 1px;
  --inner-padding-end: 5px;
  --min-height: 24px;
  --border-width: 1px !important;
  --border-color: transparent;
}
.squat .info-accordion .accItem.ion-focused {
  --background-focused: none;
  --inner-border-width: 0;
  --show-full-highlight: 0;
  --border-color: var(--ion-color-dark);
}
.squat .info-accordion .accItem ion-label {
  margin: 0;
  color: var(--ion-color-dark) !important;
}
.squat .info-accordion .accItem ion-icon {
  margin: 0 0 0 6px;
}
