.squat ion-accordion {
  background-color: #fff;
  border-bottom: 1px solid var(--ion-color-light);
}
.squat ion-accordion.accordion-collapsed {
  border-bottom: 1px solid var(--ion-color-light);
}
.squat ion-accordion:not(.accordion-collapsed) {
  border-bottom-color: #fff;
}
.squat ion-accordion::part(header) {
  min-height: 24px;
  border-bottom: 1px solid #fff;
  width: max-content;
}
.squat ion-accordion::part(content) {
  background: #fff;
}
.squat ion-accordion .tabContent {
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid var(--ion-color-light);
  display: unset;
}
.squat .accItem {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  --padding-start: 0;
  --inner-padding-start: 1px;
  --inner-padding-end: 5px;
  --min-height: 24px;
  --border-width: 1px !important;
  --border-color: transparent;
}
.squat .accItem.ion-focused {
  --background-focused: none;
  --inner-border-width: 0;
  --show-full-highlight: 0;
  --border-color: var(--ion-color-dark);
}
.squat .accItem ion-label {
  margin: 0;
  color: var(--ion-color-dark) !important;
}
.squat .accItem ion-icon {
  width: 14px;
  height: 14px;
  margin: 0;
  margin: 0 0 0 12px;
}
