.squat ion-grid.titlebar {
  padding: 0 10px;
}
.squat .logo {
  width: 105px;
}
.squat ion-button.languageSelection {
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 2px;
  --background-hover: unset;
  --padding-start: 14px;
  --padding-end: 14px;
}
.squat ion-button.languageSelection:hover {
  color: var(--ion-color-primary-shade);
  text-decoration: underline;
}
.squat .titlebar ion-button.icon-only-squat {
  margin: 0 6px 0 0;
}

ion-button.icon-only-squat::part(native) {
  box-shadow: unset;
}

.squat ion-button.languageSelection.button-disabled {
  opacity: 1;
  color: var(--ion-color-dark);
  font-weight: bold;
}
@media (max-width: 991px) {
  .squat ion-text h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .squat ion-text h1 {
    white-space: nowrap;
  }
  .squat .mobile-logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .squat .mainTitle {
    flex-basis: 40%;
  }
  .squat ion-text h1 {
    white-space: nowrap;
    font-size: 1.8rem;
  }
  .squat .desktop-logo {
    display: none;
  }
  .squat .langbar {
    flex-basis: 50%;
  }
}
@media (max-width: 575px) {
  .squat ion-text h1 {
    font-size: 1.4rem;
    white-space: normal;
  }
  .squat .logo {
    width: 95px;
  }
}
