ion-modal .gradient-top {
  height: 12px;
  background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-tertiary));
}

ion-modal ion-header {
  box-shadow: none !important;
}

ion-modal ion-footer {
  box-shadow: none !important;
}

ion-modal ion-header.header-md::after {
  content: none;
}

ion-modal ion-footer.footer-md::before {
  content: none;
}

ion-modal ion-header ion-title {
  font-size: 24px;
  font-weight: bold;
  padding-inline: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  letter-spacing: 0;
}

ion-modal.small ion-grid,
ion-modal.large ion-grid {
  margin: 0 24px 0 24px;
  padding: 0 0 0 0;
}

ion-modal ion-header ion-toolbar.titleBar {
  padding-left: 0;
}

ion-modal ion-footer ion-toolbar.buttonBar {
  --min-height: 42px;
}

ion-modal ion-footer ion-toolbar.buttonBar ion-button {
  height: 42px;
  width: 150px;
  font-size: 18px;
  letter-spacing: normal;
  margin: 0 28px 0 0;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-modal .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lightest) !important;
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  margin: 0 12px 12px 0;
}

ion-modal .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}

ion-modal .closeButton ion-icon {
  width: 24px;
  height: 24px;
}

ion-modal .wrappable-title {
  overflow: visible;
  white-space: normal;
}

ion-modal.small {
  --height: 440px;
  --max-height: 90%;
  --width: 380px;
  --max-width: 95%;
}

ion-modal.small::part(content) {
  height: fit-content;
  color: var(--ion-color-dark);
}

ion-modal.large {
  --height: 440px;
  --max-height: 90%;
  --width: 599px;
  --max-width: 95%;
}

ion-modal.large::part(content) {
  height: fit-content;
  color: var(--ion-color-dark);
  max-height: calc(100vh - 96px);
  overflow: auto;
}

ion-modal ion-button.button-disabled {
  text-decoration: none;
  font-weight: bold;
  color: var(--ion-color-dark);
  opacity: 1;
}

ion-modal .buttonBar {
  padding-bottom: 28px !important;
}

.linkBar a:hover {
  text-decoration: none;
  background-color: var(--ion-color-primary-contrast);
}

ion-modal#layerInfoModal {
  /* Backdrop and box shadow are removed by default on stacked modals, must add them manually */
  --box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  /* Must be higher than ion-modal#layerModalContainer */
  z-index: 21001 !important;
}
