.custom-popup-container {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  /* ion-backdrop has default z-index: 2, must be higher than that */
  z-index: 3;
}

ion-app.mobile div.custom-popup-container {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ion-app:not(.mobile) div.custom-popup-container {
  bottom: 36px;
}

.custom-popup {
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 16px;
  background-color: var(--ion-background-color, #fff);
  color: var(--ion-color-dark);
  font-size: 12px;
  line-height: 1.125rem;
  overflow: auto;
  pointer-events: visible;
}

ion-app.mobile div.custom-popup {
  width: 95%;
  height: auto;
  max-width: 95%;
  margin: 8px auto 8px auto;
}

ion-app:not(.mobile) div.custom-popup {
  width: min(718px, 70%);
  height: auto;
  max-width: min(718px, 70%);
  margin: 12px auto 12px auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

div.custom-popup ion-grid {
  min-width: 250px;
}

div.custom-popup .infoIcon {
  margin-right: 16px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

div.custom-popup .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lightest) !important;
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  margin: 0 0 0 6px;
}

div.custom-popup .closeButton ion-icon {
  width: 24px;
  height: 24px;
}
