ion-backdrop {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .loader-error-container {
    position: fixed;
    opacity: 1;
    pointer-events: none;
    /* ion-backdrop has default z-index: 2, must be higher than that */
    z-index: 4;
  }
  
  ion-app.mobile div.loader-error-container {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  ion-app:not(.mobile) div.loader-error-container {
    bottom: 36px;
  }