ion-modal.marinewarning {
  --border-radius: 4px;
}
ion-app:not(.mobile) ion-modal.marinewarning {
  z-index: 1 !important;
  contain: layout;
  inset: unset;
  bottom: 48px;
  left: 0;
  right: 0;
}
ion-modal.marinewarning::part(content) {
  font-size: 12px;
  line-height: 1.125rem;
  overflow: auto;
}
ion-app:not(.mobile) ion-modal.marinewarning::part(content) {
  width: auto;
  height: auto;
  max-width: min(718px, 70%);
}
ion-modal.marinewarning::part(handle) {
  display: none;
}

ion-modal.marinewarning ion-grid {
  padding: 16px;
  min-width: 250px;
  margin: 0;
}

ion-modal.marinewarning .infoIcon {
  margin-right: 16px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

ion-modal.marinewarning .closeButton {
  margin: 0 0 0 6px;
}
