/* A4 @ 96 DPI: 794 x 1123 px */
:root {
  --map-width-portrait: calc(794px / 1.7);
  --map-height-portrait: calc(1123px / 1.7);
  --map-width-landscape: calc(1123px / 1.7);
  --map-height-landscape: calc(794px / 1.7);
}

.dvkMap {
  width: 100%;
  min-width: calc(var(--map-width-landscape) + 59.5px);
  height: calc(var(--map-height-portrait) + 59.5px);
  background: #cccccc;
}
.mapExportTool > ion-row > ion-col:first-of-type {
  height: calc(var(--map-height-portrait) + 59.5px);
}

.ios .dvkMap .ol-layers {
  z-index: -1 !important;
}

.dvkMap .mapMaskControlContainer > div {
  display: none;
}
.dvkMap.PORTRAIT .mapMaskControlContainer > div,
.dvkMap.LANDSCAPE .mapMaskControlContainer > div {
  display: block;
}
.dvkMap .maskTopLeft {
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-bottom: 2px solid var(--ion-color-medium);
  border-right: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskTop {
  top: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-bottom: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskTopRight {
  top: 0;
  right: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-bottom: 2px solid var(--ion-color-medium);
  border-left: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskBottomLeft {
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-top: 2px solid var(--ion-color-medium);
  border-right: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskBottom {
  bottom: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-top: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskBottomRight {
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-top: 2px solid var(--ion-color-medium);
  border-left: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskLeft {
  left: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-right: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}
.dvkMap .maskRight {
  right: 0;
  position: absolute;
  background-color: var(--ion-color-primary-contrast);
  border-left: 2px solid var(--ion-color-medium);
  opacity: 0.5;
  pointer-events: none;
}

.dvkMap.PORTRAIT .maskTopLeft {
  width: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskTop {
  left: calc((100% - var(--map-width-portrait)) / 2);
  right: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskTopRight {
  width: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskBottomLeft {
  width: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskBottom {
  left: calc((100% - var(--map-width-portrait)) / 2);
  right: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskBottomRight {
  width: calc((100% - var(--map-width-portrait)) / 2);
  height: calc((100% - var(--map-height-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskLeft {
  top: calc((100% - var(--map-height-portrait)) / 2);
  bottom: calc((100% - var(--map-height-portrait)) / 2);
  width: calc((100% - var(--map-width-portrait)) / 2);
}
.dvkMap.PORTRAIT .maskRight {
  top: calc((100% - var(--map-height-portrait)) / 2);
  bottom: calc((100% - var(--map-height-portrait)) / 2);
  width: calc((100% - var(--map-width-portrait)) / 2);
}

.dvkMap.LANDSCAPE .maskTopLeft {
  width: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskTop {
  left: calc((100% - var(--map-width-landscape)) / 2);
  right: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskTopRight {
  width: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskBottomLeft {
  width: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskBottom {
  left: calc((100% - var(--map-width-landscape)) / 2);
  right: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskBottomRight {
  width: calc((100% - var(--map-width-landscape)) / 2);
  height: calc((100% - var(--map-height-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskLeft {
  top: calc((100% - var(--map-height-landscape)) / 2);
  bottom: calc((100% - var(--map-height-landscape)) / 2);
  width: calc((100% - var(--map-width-landscape)) / 2);
}
.dvkMap.LANDSCAPE .maskRight {
  top: calc((100% - var(--map-height-landscape)) / 2);
  bottom: calc((100% - var(--map-height-landscape)) / 2);
  width: calc((100% - var(--map-width-landscape)) / 2);
}

.dvkMap .ol-zoom {
  top: auto;
  left: auto;
  right: 24px;
  bottom: 24px;
  background: transparent;
}

.dvkMap.mobile .ol-zoom {
  display: none;
}

.dvkMap .centerToOwnLocationControlContainer {
  top: auto;
  left: auto;
  right: 24px;
  bottom: 136px;
  background: transparent;
}

.dvkMap.mobile .centerToOwnLocationControlContainer {
  top: auto;
  left: auto;
  right: 16px;
  bottom: 48px;
  background: transparent;
}

.dvkMap .openSidebarMenuControlContainer {
  left: 48px;
  top: 48px;
  background: transparent;
}
.dvkMap.mobile .openSidebarMenuControlContainer {
  left: 16px;
  top: 24px;
}

.dvkMap .layerControlContainer {
  top: auto;
  left: auto;
  right: 24px;
  bottom: 192px;
  background: transparent;
}

.dvkMap.mobile .layerControlContainer {
  top: auto;
  left: auto;
  right: 16px;
  bottom: 104px;
  background: transparent;
}

.dvkMap .uploadPictureControlContainer {
  top: auto;
  left: auto;
  right: 24px;
  bottom: 248px;
  background: transparent;
}

.dvkMap .takeScreenshotControlContainer {
  top: auto;
  left: auto;
  right: 24px;
  bottom: 248px;
  background: transparent;
}

.mapExportTool {
  overflow: hidden;
}
.mapExportTool.disabled .mainMapWrapper {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}

.mapExportTool .extControl {
  position: absolute;
  top: auto;
  left: auto;
  right: calc(24px + 5px);
  background: transparent;
  z-index: 1;
}
.mapExportTool.disabled .extControl > button {
  opacity: 0.5;
  pointer-events: none;
}

.mapExportTool .extControl.selectPortraitControlContainer {
  bottom: calc(410px + 5px);
}

.mapExportTool .extControl.selectLandscapeControlContainer {
  bottom: calc(354px + 5px);
}

.mapExportTool .extControl.takeScreenshotControlContainer {
  bottom: calc(298px + 5px);
}

.mapExportTool .extControl.uploadPictureControlContainer {
  bottom: calc(242px + 5px);
}

.mapExportTool .extControl.layerControlContainer {
  bottom: calc(186px + 5px);
}

.mapExportTool .extControl.centerToOwnLocationControlContainer {
  bottom: calc(130px + 5px);
}

.mapExportTool .extControl.zoomInControlContainer {
  bottom: calc(74px + 5px);
}

.mapExportTool .extControl.zoomOutControlContainer {
  bottom: calc(18px + 5px);
}

.dvkMap .ol-control > button,
.mapExportTool .extControl > button {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  background-color: var(--ion-color-primary-contrast);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.dvkMap .ol-control > button:hover,
.mapExportTool .extControl > button:hover {
  background-color: var(--ion-color-lighter);
  outline: none;
}
.dvkMap .ol-control > button:focus,
.mapExportTool .extControl > button:focus {
  outline: none;
}
.dvkMap .ol-control > button:focus-visible,
.mapExportTool .extControl > button:focus-visible {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: 1px;
}
.dvkMap .ol-control > button:focus-visible:hover,
.mapExportTool .extControl > button:focus-visible:hover {
  outline: 2px solid var(--ion-color-primary-shade);
}
.dvkMap .ol-control > button:disabled,
.mapExportTool .extControl > button:disabled {
  opacity: 0.5;
  background-color: var(--ion-color-primary-contrast);
}

.dvkMap .ol-zoom-in,
.mapExportTool .extControl .zoomInControl {
  background-image: url('../../theme/img/zoomIn.svg');
  background-size: 18px 18px;
}
.dvkMap .ol-control > button.ol-zoom-out,
.mapExportTool .extControl .zoomOutControl {
  background-image: url('../../theme/img/zoomOut.svg');
  background-size: 18px 4px;
}
.dvkMap .centerToOwnLocationControl,
.mapExportTool .extControl .centerToOwnLocationControl {
  background-image: url('../../theme/img/ownLocation.svg');
  background-size: 26px 26px;
}
.dvkMap .openSidebarMenuControl {
  background-image: url('../../theme/img/menu.svg');
  background-size: 22px 15px;
}
.dvkMap .layerControl,
.mapExportTool .extControl .layerControl {
  background-image: url('../../theme/img/layers.svg');
  background-size: 22px 22px;
}
.dvkMap .ol-control .layerControlOpen,
.mapExportTool .extControl .layerControlOpen {
  background-color: var(--ion-color-primary);
  background-image: url('../../theme/img/layersOpen.svg');
  background-size: 22px 22px;
}
.dvkMap .uploadPictureControl,
.mapExportTool .extControl .uploadPictureControl {
  background-image: url('../../theme/img/upload_image_icon.svg');
}
.dvkMap .takeScreenshotControl,
.mapExportTool .extControl .takeScreenshotControl {
  background-image: url('../../theme/img/take_screenshot_icon.svg');
}
.dvkMap .selectPortraitControl,
.mapExportTool .extControl .selectPortraitControl {
  background-image: url('../../theme/img/crop_portrait_icon.svg');
}
.dvkMap.PORTRAIT .selectPortraitControl,
.mapExportTool .PORTRAIT .extControl .selectPortraitControl {
  background-image: url('../../theme/img/crop_portrait_icon_selected.svg');
  background-color: var(--ion-color-primary);
}
.dvkMap.PORTRAIT .ol-control > button.selectPortraitControl:hover,
.mapExportTool .PORTRAIT .extControl .selectPortraitControl:hover {
  background-color: var(--ion-color-primary-shade);
}
.dvkMap .selectLandscapeControl,
.mapExportTool .extControl .selectLandscapeControl {
  background-image: url('../../theme/img/crop_landscape_icon.svg');
}
.dvkMap.LANDSCAPE .selectLandscapeControl,
.mapExportTool .LANDSCAPE .extControl .selectLandscapeControl {
  background-image: url('../../theme/img/crop_landscape_icon_selected.svg');
  background-color: var(--ion-color-primary);
}
.dvkMap.LANDSCAPE .ol-control > button.selectLandscapeControl:hover,
.mapExportTool .LANDSCAPE .extControl .selectLandscapeControl:hover {
  background-color: var(--ion-color-primary-shade);
}

.dvkMap .mapDetailsControl {
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  color: var(--ion-color-dark);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0;
  padding: 2px 16px;
}

.dvkMap.mobile .mapDetailsControl {
  width: 100%;
}

.dvkMap .mapDetailsControl .ol-mouse-position {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  padding-left: 5px;
  padding-right: 10px;
  background: none;
  min-width: 14em;
}

.dvkMap .mapDetailsControl .ol-scale-line {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  background: none;
}

.dvkMap.mobile .mapDetailsControl .ol-scale-line {
  display: flex;
  justify-content: flex-end;
}

.dvkMap .ol-rotate {
  bottom: 24px;
  left: 24px;
  top: auto;
  right: auto;
  background: none;
}

.dvkMap.mobile .ol-rotate {
  left: 16px;
}

.dvkMap .ol-rotate > button {
  width: 34px;
  height: 34px;
  margin: 0;
  background: none;
  box-shadow: none;
}
.dvkMap .ol-rotate > button img {
  height: 34px;
  transition: all 50ms;
}
.dvkMap .ol-rotate > button:hover {
  background-color: transparent;
  outline: none;
}
.dvkMap .ol-rotate > button:hover img {
  height: 42px;
}

.dvkMap.mobile .ol-rotate > button {
  width: 22px;
  height: 22px;
}
.dvkMap.mobile .ol-rotate > button img {
  height: 22px;
}
.dvkMap.mobile .ol-rotate > button:hover img {
  height: 28px;
}

.dvkMap .infoTextControl {
  position: absolute;
  bottom: calc(24px + ((34px - 16px) / 2));
  left: calc(24px + 34px + 6px);
  font-size: 12px;
  line-height: 1rem;
  color: var(--ion-color-dark);
  text-shadow:
    -1px -1px 0 var(--ion-color-primary-contrast),
    -1px 1px 0 var(--ion-color-primary-contrast),
    1px -1px 0 var(--ion-color-primary-contrast),
    1px 1px 0 var(--ion-color-primary-contrast);
  font-style: italic;
}

.dvkMap.mobile .infoTextControl {
  bottom: calc(24px + ((22px - 16px) / 2));
  left: calc(16px + 22px + 4px);
  font-size: 10px;
}
