/* Common typography */
ion-text > * {
  color: var(--ion-color-dark);
}
ion-text h1 {
  font-size: 2.2rem;
}
ion-text h3 {
  font-size: 1rem;
}
ion-text.equal-margin-top > * {
  margin-top: 10px;
}
ion-text.no-margin > * {
  margin: 0;
}
ion-text.no-margin-top > *:first-child {
  margin-top: 0 !important;
}
ion-text.disabled {
  opacity: 0.5;
}

/* Grid */
ion-grid.margin-top {
  margin-top: 30px;
}
ion-grid.divider {
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 24px;
}
ion-row.input-row > ion-col {
  min-height: 0;
}

.flipped {
  transform: rotate(180deg);
}
.use-flex {
  display: flex !important;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.left-padding {
  padding-left: 5px;
}
.top-padding {
  padding-top: 10px;
}
.top-padding.in-print {
  padding-top: 0;
}
.bottom-padding {
  padding-bottom: 10px;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-text {
  font-size: 14px;
}

/* Links */
a {
  color: var(--ion-color-dark);
  text-decoration: underline;
}
a[target='_blank'] {
  color: var(--ion-color-primary);
  /*padding-right: 14px;
  background: url('./img/externalLink.svg') no-repeat right center;*/
}
a:hover {
  background-color: var(--ion-color-light);
}
a:focus-visible {
  outline: 1px solid var(--ion-color-dark);
  outline-offset: 1px;
}
a[target='_blank']:focus-visible {
  outline: 1px solid var(--ion-color-primary);
}
.offline a[target='_blank'] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.offline a[target='_blank']:focus-visible {
  outline: none;
}

/* Lists */
ol {
  margin: 0;
  padding: 0;
}
ol li {
  font-size: 12px;
  line-height: 1.125rem;
  margin-bottom: 1em;
  list-style-position: inside;
}

/* Buttons */
ion-button {
  height: 42px;
  margin: 0 0 0 10px;
  font-size: 16px;
  letter-spacing: normal;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-button.invert {
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-contrast);
  --background-hover: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
}

ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 20px;
  --box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 40px;
  width: 40px;
  vertical-align: top;
  border-radius: 20px;
}
ion-button.icon-only.small {
  --box-shadow: none;
  height: 30px;
  width: 30px;
  vertical-align: top;
}
ion-button.icon-only:hover {
  --background-hover: none;
  --color: var(--ion-color-primary-shade);
}
ion-button.icon-only.ion-focused {
  --background-focused: none;
  outline: 2px solid var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary-contrast);
}
ion-button.icon-only.ion-focused:hover {
  --background: var(--ion-color-primary-contrast);
  outline: 2px solid var(--ion-color-primary-shade);
}
ion-button.icon-only ion-icon {
  height: 30px;
  width: 30px;
}
ion-icon.medium {
  font-size: 22px;
  --ionicon-stroke-width: 32px;
}

ion-button.plainButton {
  color: var(--ion-color-dark);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
  text-decoration: underline;
  height: 1.25rem;
  --padding-start: 0;
  --padding-end: 0;
  --background-hover: unset;
  --background-focused: unset;
  --border-radius: 0;
}
ion-button.plainButton:hover {
  text-decoration: none;
}
ion-button.plainButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
ion-button.plainButton.button-disabled {
  opacity: 1;
  color: var(--ion-color-dark);
  font-weight: bold;
  text-decoration: none;
}

/* Search input */
.searchWrapper {
  width: 320px;
  max-width: 100%;
  position: relative;
}
.searchWrapper ion-input.searchBar {
  box-sizing: border-box;
  height: 45px;
  max-width: 100%;
  background-color: var(--ion-color-dark);
  padding: 1px !important;
  font-size: 14px;
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
}
.searchWrapper ion-input.searchBar input {
  height: 100%;
  padding: 0 40px 0 12px;
  background: var(--ion-color-primary-contrast) url('./img/search.svg') no-repeat right 12px center;
  background-size: 24px 24px;
  border-radius: 0;
}
.searchWrapper ion-input.searchBar.has-focus {
  background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  padding: 2px !important;
}
.searchWrapper ion-input.searchBar.has-focus input {
  padding: 0 39px 0 11px;
  background-position: right 11px center;
}
.searchWrapper ion-input.searchBar.has-value input {
  padding-right: 12px;
  background: var(--ion-color-primary-contrast);
}
.searchWrapper ion-input.searchBar.has-value + button.input-clear-icon {
  background: var(--ion-color-primary-contrast) url('./img/close_primary.svg') no-repeat center;
  background-size: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 11px;
  right: 12px;
  z-index: 2;
}
.searchWrapper ion-input.searchBar.has-value + button.input-clear-icon:hover {
  background-color: var(--ion-color-light);
}
.searchWrapper ion-input.searchBar.has-value + button.input-clear-icon:focus-visible {
  background-color: var(--ion-color-primary-contrast);
  opacity: 1;
  outline: 1px solid var(--ion-color-dark);
}
.searchWrapper ion-input.searchBar:not(.has-value) + button.input-clear-icon {
  display: none;
}

/* Form inputs */
ion-item.selectInput {
  width: auto;
  min-width: 150px;
  max-width: 100%;
  --min-height: 43px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-width: 0;
  --background: var(--ion-color-dark);
}
ion-item.selectInput.item-has-focus,
ion-item.selectInput.ion-focused {
  --highlight-background: transparent;
  --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
}
ion-item.selectInput.item-select-disabled {
  opacity: 0.5;
}
ion-item.selectInput::part(native) {
  border-radius: 0;
  overflow: hidden;
}
ion-item.selectInput ion-select {
  width: 100%;
  height: calc(100% - 2px);
  margin: 0 1px;
  font-size: 14px;
  background-color: var(--ion-color-primary-contrast);
  --padding-start: 13px;
  --padding-end: 13px;
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
}
ion-item.selectInput.item-has-focus ion-select,
ion-item.selectInput.ion-focused ion-select {
  height: calc(100% - 4px);
  margin: 0 2px;
  --padding-start: 12px;
  --padding-end: 12px;
}
ion-item.selectInput.item-select-disabled ion-select.select-disabled {
  opacity: 1;
}
ion-item.selectInput.item-has-value ion-select::part(text) {
  overflow: auto;
  white-space: normal;
}
ion-item.selectInput ion-note[slot="helper"] {
  color: var(--ion-color-medium);
}
ion-popover.multiSelect {
  margin-top: 2px;
}
ion-popover.multiSelect::part(content) {
  border-radius: 0;
}
ion-popover.multiSelect ion-item {
  font-size: 14px;
}
ion-popover.multiSelect ion-item ion-checkbox {
  margin: 10px 20px 10px 4px;
}
ion-popover.multiSelect ion-item ion-label {
  white-space: normal !important;
}

ion-label.formLabel {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
}
ion-label.formLabel.disabled {
  opacity: 0.5;
}
ion-item.formInput {
  font-size: 14px;
  --min-height: 43px;
  --padding-start: 0;
  --inner-padding-start: 1px;
  --inner-padding-end: 1px;
  --border-width: 0;
  --background: var(--ion-color-dark);
}
ion-item.formInput.item-has-focus {
  --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  --inner-padding-start: 2px;
  --inner-padding-end: 2px;
}
ion-item.formInput.item-interactive-disabled {
  opacity: 0.5;
}
ion-item.formInput::part(native) {
  border-radius: 0;
  border-color: var(--ion-color-dark);
}
ion-item.formInput ion-input {
  background-color: var(--ion-color-primary-contrast);
  height: calc(100% - 2px);
  --padding-start: 13px !important;
  --padding-end: 13px;
}
ion-item.formInput.item-has-focus ion-input {
  height: calc(100% - 4px);
  --padding-start: 12px !important;
  --padding-end: 12px;
}
ion-item.formInput ion-label.unit {
  background-color: var(--ion-color-primary-contrast);
  height: calc(100% - 2px);
  padding: 0 13px 0 0;
  margin: 0;
  align-items: center;
}
ion-item.formInput.item-has-focus ion-label.unit {
  height: calc(100% - 4px);
  padding-right: 12px;
}
ion-item.formInput input.native-input[disabled] {
  opacity: 1 !important;
}
ion-item.formInput ion-textarea {
  display: flex;
  margin: 0;
  background-color: var(--ion-color-primary-contrast);
  height: calc(100% - 2px);
  --padding-start: 13px !important;
  --padding-end: 13px;
}
ion-item.formInput.item-has-focus ion-textarea {
  height: calc(100% - 4px);
  --padding-start: 12px !important;
  --padding-end: 12px;
}
ion-item.formInput ion-textarea .textarea-wrapper {
  width: 100%;
  align-self: center;
}
ion-item.formInput ion-textarea .textarea-wrapper::after {
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-item.formInput ion-textarea textarea {
  overflow: hidden;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-item.invalid {
  --background: var(--ion-color-danger);
}
ion-item.invalid ion-note.input-error {
  display: flex;
  align-items: center;
}
ion-item.invalid ion-note[slot="helper"] {
  display: none;
}
ion-note.input-error svg {
  margin: 0 4px 0 2px;
  width: 14px;
  height: 14px;
  display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

/* Header */
ion-header {
  box-shadow: 4px 0 8px 0 rgba(var(--ion-color-dark), 0.5);
}
ion-header > ion-grid.ion-no-padding {
  padding: 0 48px;
}
ion-header .logo {
  height: 72px;
}
ion-header ion-text h1 {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 16px;
}
ion-header ion-grid.languageBar {
  padding: 0 14px;
}
ion-header ion-grid.languageBar ion-button.plainButton {
  margin: 0 14px;
  --padding-start: 4px;
  --padding-end: 4px;
}
ion-header ion-grid.userInfo {
  font-size: 12px;
  line-height: 1.125rem;
}

/* Content */
div.ion-page > ion-content.mainContent {
  --padding-start: 43px;
  --padding-end: calc(48px - 15px - 2 * 5px); /* scrollbar width (~15px on average) and default grid padding 5px+5px subtracted */
  --padding-bottom: 43px;
}
div.ion-page > ion-content.mainContent::part(scroll) {
  scrollbar-gutter: stable;
}
div.ion-page > ion-header ion-progress-bar {
  position: fixed;
}

ion-grid.optionBar {
  padding: 24px 43px 10px;
}
ion-grid.optionBar em {
  display: block;
  font-size: 12px;
  line-height: 1rem;
  margin-right: calc(16px - 2 * 5px);
}

/* Item table / list */
ion-grid.itemList {
  font-size: 12px;
  line-height: 1.125rem;
}
ion-grid.itemList ion-row {
  border-bottom: 1px solid var(--ion-color-lighter);
}
ion-grid.itemList ion-row:not(.header):hover {
  background: var(--ion-color-lightest);
  cursor: pointer;
}
ion-grid.itemList ion-row:first-of-type {
  border-top: 1px solid var(--ion-color-lighter);
}
ion-grid.itemList ion-row:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}
ion-grid.itemList ion-col {
  border-left: 1px solid var(--ion-color-lighter);
  padding: 10px 8px;
  overflow: hidden;
}
ion-grid.itemList ion-row ion-col:first-of-type {
  border-left: none;
}
ion-grid.itemList .header ion-col {
  padding: 10px 8px;
  align-items: center !important;
  display: flex;
}
ion-grid.itemList .header ion-button {
  font-weight: bold;
  height: auto;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
  word-break: break-word;
  --padding-top: 4px;
  --padding-bottom: 4px;
}
ion-grid.itemList .header ion-button svg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  overflow: visible;
  transform: rotate(-90deg);
  transition: transform 150ms;
}
ion-grid.itemList .header ion-button.desc svg {
  transform: rotate(90deg);
}

/* Form grid */
ion-grid.formGrid ion-col {
  border-left: 1px solid var(--ion-color-lighter);
  padding: 5px 15px;
}
ion-grid.formGrid ion-col:first-of-type {
  border-left: none;
  padding-left: 0;
}
ion-grid.formGrid ion-col:last-of-type {
  padding-right: 0;
}
.mainContent form ion-text h2 {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 5px 0;
  border-bottom: 1px solid var(--ion-color-light);
}
.mainContent form ion-text h3 {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: bold;
  margin: 10px 5px 0;
  border-bottom: 1px solid var(--ion-color-lighter);
}

/* Footer */
ion-footer.small ion-toolbar {
  --min-height: 30px;
}

/* Modal */
ion-modal .gradient-top {
  height: 12px;
  background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-tertiary));
}

ion-modal ion-header.header-md::after {
  content: none;
}

ion-modal ion-footer.footer-md::before {
  content: none;
}

ion-modal ion-header ion-title {
  font-size: 24px;
  font-weight: bold;
  padding-inline: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  letter-spacing: 0;
}

ion-modal.prompt ion-grid {
  padding: 0 calc(28px - 5px);
  margin: 0;
}

ion-modal ion-text p {
  margin-top: 0;
}

ion-modal ion-header ion-toolbar.titleBar {
  padding-left: 0;
}

ion-modal ion-footer ion-toolbar.buttonBar {
  padding: 0 28px;
  --min-height: calc(42px + 2 * 28px);
}
ion-modal ion-footer ion-toolbar.buttonBar ion-button {
  margin-bottom: 0px;
}

ion-modal .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lightest);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  margin: 0 calc(24px - 6px) 0 0;
}
ion-modal .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
ion-modal .closeButton svg {
  width: 24px;
  height: 24px;
}

ion-modal .wrappable-title {
  overflow: visible;
  white-space: normal;
}

ion-modal.prompt {
  --max-height: 90%;
  --width: 600px;
  --max-width: 95%;
}

ion-modal.prompt::part(content) {
  height: fit-content;
  overflow: visible;
}

ion-modal ion-button.button-disabled {
  text-decoration: none;
  font-weight: bold;
  color: var(--ion-color-dark);
  opacity: 1;
}
