/* Disable dynamic font scaling */
html {
  --ion-dynamic-font: initial;
}

/* Common typography */
ion-text > * {
  color: var(--ion-color-dark);
}
ion-text h1 {
  font-size: 2.2rem;
}
ion-text h3 {
  font-size: 1rem;
}
ion-text.equal-margin-top > * {
  margin-top: 10px;
}
ion-text.no-margin > * {
  margin: 0;
}
ion-text.no-margin-top > *:first-child {
  margin-top: 0 !important;
}
ion-text.disabled {
  opacity: 0.5;
}

/* Grid */
ion-grid.margin-top {
  margin-top: 30px;
}
ion-grid.divider {
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 24px;
}
ion-row.input-row > ion-col {
  min-height: 0;
}

.flipped {
  transform: rotate(180deg);
}
.use-flex {
  display: flex !important;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.top-padding {
  padding-top: 10px;
}
.top-padding.in-print {
  padding-top: 0;
}
.bottom-padding {
  padding-bottom: 10px;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-text {
  font-size: 14px;
}

/* Links */
a {
  color: var(--ion-color-dark);
  text-decoration: underline;
}
a[target='_blank'] {
  color: var(--ion-color-primary);
}
a:hover {
  background-color: var(--ion-color-light);
}
a:focus-visible {
  outline: 1px solid var(--ion-color-dark);
  outline-offset: 1px;
}
a[target='_blank']:focus-visible {
  outline: 1px solid var(--ion-color-primary);
}
.offline a[target='_blank'] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.offline a[target='_blank']:focus-visible {
  outline: none;
}

/* Lists */
ol {
  margin: 0;
  padding: 0;
}
ol li {
  font-size: 12px;
  line-height: 1.125rem;
  margin-bottom: 1em;
  list-style-position: inside;
}

/* Buttons */
ion-button {
  height: 42px;
  margin: 0 0 0 10px;
  font-size: 16px;
  letter-spacing: normal;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-button.button-small {
  height: 32px;
  margin: 0 0 0 10px;
  font-size: 14px;
  letter-spacing: normal;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-button.invert {
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-contrast);
  --background-hover: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
}

ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 20px;
  --box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 40px;
  width: 40px;
  vertical-align: top;
  border-radius: 20px;
  min-height: 0;
}
ion-button.icon-only.small {
  --box-shadow: none;
  height: 30px;
  width: 30px;
  vertical-align: top;
  min-height: 30px;
}
ion-button.icon-only.x-small {
  --box-shadow: none;
  height: 24px;
  width: 24px;
  vertical-align: top;
}
ion-button.icon-only.xx-small {
  --box-shadow: none;
  height: 16px;
  width: 16px;
  vertical-align: top;
}
ion-button.icon-only.labelButton {
  margin-top: 2px;
  margin-left: 4px;
}
ion-button.icon-only:hover {
  --background-hover: none;
  --color: var(--ion-color-primary-shade);
}
ion-button.icon-only.ion-focused {
  --background-focused: none;
  outline: 2px solid var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary-contrast);
}
ion-button.icon-only.ion-focused:hover {
  --background: var(--ion-color-primary-contrast);
  outline: 2px solid var(--ion-color-primary-shade);
}
ion-button.icon-only ion-icon {
  height: 30px;
  width: 30px;
}
ion-icon.medium {
  font-size: 22px;
  --ionicon-stroke-width: 32px;
}

ion-button.plainButton {
  color: var(--ion-color-dark);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
  text-decoration: underline;
  height: 1.25rem;
  --padding-start: 0;
  --padding-end: 0;
  --background-hover: unset;
  --background-focused: unset;
  --border-radius: 0;
}
ion-button.plainButton:hover {
  text-decoration: none;
}
ion-button.plainButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
ion-button.plainButton.button-disabled {
  opacity: 1;
  color: var(--ion-color-dark);
  font-weight: bold;
  text-decoration: none;
}

/* Search and custom select input */
.optionBar .searchWrapper {
  width: 320px;
  max-width: 100%;
}

.searchWrapper {
  position: relative;
}

.optionBar .searchWrapper ion-item.searchBar,
.selectWrapper ion-item.selectInput {
  font-size: 14px;
}

.searchWrapper ion-item.searchBar,
.selectWrapper ion-item.selectInput {
  border-style: solid;
  border-color: var(--ion-color-dark);
  border-width: 1px;
  border-radius: 0;
  --min-height: 43px;
}

.searchWrapper ion-item.searchBar {
  --inner-padding-end: 8px;
}

.selectWrapper ion-item.selectInput {
  min-width: 150px;
  --background-hover-opacity: 0;
  --ripple-color: transparent;
  --padding-start: 14px;
  --inner-padding-end: 14px;
}

.searchWrapper ion-item.searchBar::part(native),
.selectWrapper ion-item.selectInput::part(native) {
  min-height: 41px;
  margin: 1px;
}

.searchWrapper ion-input {
  min-height: 41px;
}

.searchWrapper ion-item.searchBar:focus-within,
.selectWrapper ion-item.selectInput.select-expanded,
.selectWrapper.invalid ion-item.selectInput.select-expanded {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
  border-width: 2px;
}

.selectWrapper ion-item.selectInput.readonly {
  border: none;
  background-color: var(--ion-color-lighter);
}

.searchWrapper ion-item.searchBar:focus-within {
  --inner-padding-end: 6px;
}

.selectWrapper ion-item.selectInput.select-expanded,
.selectWrapper.invalid ion-item.selectInput.select-expanded {
  --inner-padding-end: 13px;
}

.searchWrapper ion-item.searchBar:focus-within::part(native),
.selectWrapper ion-item.selectInput.select-expanded::part(native),
.selectWrapper.invalid ion-item.selectInput.select-expanded::part(native) {
  margin: 0;
}

.searchWrapper ion-icon.closeIcon {
  width: 18px;
  height: 18px;
}

ion-button.clearSearch {
  --padding-start: 3px;
  --padding-end: 3px;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-button.clearSearch.button-disabled {
  opacity: 1;
}

ion-select.selectInput {
  font-size: 14px;
  max-width: 100%;
  min-height: 43px;
  border-style: solid;
  border-color: var(--ion-color-dark);
  border-width: 1px;
  border-radius: 0;
  --padding-start: 14px;
  --padding-end: 14px;
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
  /* Fill: outline used to remove div "select-highlight", hide outline here */
  --border-style: hidden;
}

ion-select.selectInput.select-expanded {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
}

ion-select.selectInput.ion-focused {
  /* Use same background color as ion-item when focused (ion-color-dark with opacity 0.12) */
  background-color: rgba(51, 51, 51, 0.12);
}

.selectWrapper.invalid ion-select.selectInput,
.selectWrapper.invalid ion-item.selectInput {
  border-color: var(--ion-color-danger);
}

.selectWrapper.readonly ion-item.selectInput {
  border: none;
}

.selectWrapper ion-item.selectInput ion-label ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.selectWrapper ion-select.selectInput.readonly,
.selectWrapper ion-item.selectInput.readonly {
  background-color: var(--ion-color-lighter);
  border: none;
  opacity: 1;
}

.selectWrapper ion-select.selectInput.select-disabled,
.selectWrapper ion-item.selectInput.item-disabled {
  opacity: 0.5;
}

.selectWrapper ion-select.selectInput::part(native) {
  overflow: hidden;
}

.selectWrapper ion-select.selectInput::part(placeholder),
.selectWrapper ion-select.selectInput.has-value::part(text) {
  overflow: auto;
  white-space: normal;
  padding: 12px 0;
}

.selectWrapper .select-icon {
  width: 13px;
}

.selectWrapper ion-note.helper {
  display: block;
  color: var(--ion-color-medium);
  font-size: 12px;
  line-height: 1rem;
}
.selectWrapper.invalid ion-note.helper {
  font-style: italic;
}
.selectWrapper ion-note.input-error {
  display: none;
  color: var(--ion-color-danger);
  font-size: 12px;
  line-height: 1rem;
  background: url('./img/error_icon.svg') no-repeat 1px center;
  background-size: 14px;
  padding-left: 18px;
}
.selectWrapper.invalid ion-note.input-error {
  display: block;
}
.selectWrapper.disabled ion-note.helper,
.selectWrapper.disabled ion-note.input-error {
  opacity: 0.5;
}
.selectWrapper .select-skeleton {
  height: 45px;
  margin: 0;
  border: 1px solid var(--ion-color-light);
}

ion-popover.multiSelect::part(content) {
  border-radius: 0;
}

.multiSelect ion-select-popover {
  overflow-y: auto;
}

ion-popover.multiSelect.squatSuitableFairwayAreaIds {
  overflow-y: auto;
}

ion-popover.multiSelect.squatTargetFairwayIds {
  overflow-y: auto;
}

ion-popover.multiSelect.fairwayIds::part(content),
ion-popover.multiSelect.pilotRoutes::part(content),
ion-popover.multiSelect.mareographs::part(content) {
  bottom: 0;
}

ion-popover.multiSelect ion-item {
  font-size: 14px;
}

ion-popover.multiSelect ion-item.option-selected {
  font-size: 14px;
  --ripple-color: var(--ion-color-primary);
}

ion-popover.multiSelect ion-item ion-label {
  white-space: normal !important;
}

ion-popover.multiSelect ion-item ion-label.subtext {
  font-size: 12px;
}

ion-popover.multiSelect ion-list {
  padding: 0;
}

ion-popover.multiSelect ion-icon.searchIcon {
  width: 24px;
  height: 24px;
}

ion-popover.multiSelect ion-icon.closeIcon {
  width: 18px;
  height: 18px;
}

ion-popover.version-select ion-list {
  padding: 0;
}

.dropdownSearchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Form inputs */
ion-label.formLabel {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
  cursor: pointer;
}

ion-label.formLabel.disabled,
.formGrid .formInput.input-disabled {
  opacity: 0.5;
  cursor: default;
}

.formGrid .formInput {
  font-size: 14px;
  min-height: 45px;
  --border-radius: 0;
  --border-style: none;
  --padding-start: 14px;
  --padding-end: 14px;
  --padding-top: 13px;
  --padding-bottom: 13px;
}

.formGrid .formInput.readonly .input-wrapper,
label.input-wrapper {
  background-color: var(--ion-color-lighter);
  border: none;
}

.formGrid .formInput.readonly .textarea-wrapper,
label.input-wrapper {
  background-color: var(--ion-color-lighter);
  border: none;
}

.formGrid .formInput.has-focus {
  --padding-start: 13px;
  --padding-end: 13px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

.formGrid ion-input.formInput.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.textarea-fill-outline label.textarea-wrapper {
  border: 1px solid var(--ion-color-dark);
}

.formGrid ion-input.formInput.readonly.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.readonly.textarea-fill-outline label.textarea-wrapper {
  background-color: var(--ion-color-lighter);
  border: none;
}

.formGrid ion-textarea.formInput label.textarea-wrapper {
  min-height: 43px;
}

.formGrid ion-textarea.formInput.has-focus label.textarea-wrapper {
  min-height: 41px;
}

.formGrid ion-input.formInput.invalid.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.invalid.textarea-fill-outline label.textarea-wrapper {
  border-color: var(--ion-color-danger);
}

.formGrid div.md-editor-container div.markdown-preview-container {
  padding: 10px;
  background-color: var(--ion-color-lighter);
}

.formGrid div.md-editor-container div.wmde-markdown.wmde-markdown-color {
  font-size: 14px;
  background-color: var(--ion-color-lighter);
}

.formGrid ion-input.formInput.readonly .textarea-outline-container,
.formGrid ion-textarea.formInput.readonly .textarea-outline-container {
  border: none;
  background-color: var(--ion-color-lighter);
}

.formGrid div.custom-error-text {
  font-size: 13px;
  color: var(--ion-color-danger);
}

.formGrid ion-input.formInput.has-focus.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.has-focus.textarea-fill-outline label.textarea-wrapper {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
  border-width: 2px;
}

.formGrid ion-input.formInput.has-focus.readonly.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.has-focus.readonly label.textarea-wrapper {
  border: 1px solid var(--ion-color-lighter);
}
.formGrid ion-input.formInput.has-focus.invalid.input-fill-outline label.input-wrapper,
.formGrid ion-textarea.formInput.has-focus.invalid.textarea-fill-outline label.textarea-wrapper {
  border: 2px solid var(--ion-color-danger);
}

.formGrid .formInput .input-bottom,
.formGrid .formInput .textarea-bottom {
  padding: 0;
  line-height: 1rem;
}

.formGrid .formInput.invalid .input-bottom,
.formGrid .formInput.invalid .textarea-bottom {
  flex-direction: column-reverse;
}

.formGrid .formInput.invalid .error-text {
  display: block;
  background: url('./img/error_icon.svg') no-repeat 1px center;
  background-size: 14px;
  padding-left: 18px;
}

.formGrid .formInput.invalid .helper-text {
  font-style: italic;
}

.formGrid .formInput .input-wrapper.sc-ion-input-md {
  max-height: 43px;
}

ion-modal.datetimeModal::part(content) {
  height: fit-content;
  width: fit-content;
}

ion-datetime::part(month-year-button) {
  pointer-events: none;
  opacity: 0;
}

.dateIcon {
  width: 24px;
  height: 24px;
}

ion-item.invalid {
  --background: var(--ion-color-danger);
}
ion-item.invalid ion-note.input-error {
  display: flex;
  align-items: center;
}
ion-item.invalid ion-note.helper {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
@-moz-document url-prefix() {
  input[type='number'] {
    -moz-appearance: textfield !important;
  }
}

/* Header */
ion-header {
  box-shadow: none !important;
}
ion-header.page-header {
  box-shadow: 4px 0 8px 0 rgba(var(--ion-color-dark-rgb), 0.5) !important;
}
ion-header > ion-grid.ion-no-padding {
  padding: 0 48px;
}
ion-header .logo {
  height: 72px;
}
ion-header ion-text h1 {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 16px;
}
ion-header ion-text small {
  font-size: 12px;
  margin: 0 0 0 10px;
  font-weight: normal;
}
ion-header ion-text h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 0 16px;
  line-height: 1rem;
  color: var(--ion-color-danger);
}
ion-header a.skip-to-main-content {
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  cursor: default;
  font-size: 14px;
  z-index: -1;
}
ion-header a.skip-to-main-content:focus {
  opacity: 1;
  left: 48px;
  z-index: 1;
  background-color: var(--ion-color-primary-contrast);
}
ion-header ion-grid.languageBar {
  padding: 0 14px;
}
ion-header ion-grid.languageBar ion-button.plainButton {
  margin: 0 14px;
  --padding-start: 4px;
  --padding-end: 4px;
}
ion-header ion-grid.userInfo {
  font-size: 12px;
  line-height: 1.125rem;
}

/* Content */
div.ion-page > ion-content.mainContent {
  --padding-start: 43px;
  --padding-end: calc(48px - 15px - 2 * 5px); /* scrollbar width (~15px on average) and default grid padding 5px+5px subtracted */
  --padding-bottom: 43px;
}
div.ion-page > ion-content.mainContent::part(scroll) {
  scrollbar-gutter: stable;
}
div.ion-page > ion-header ion-progress-bar {
  position: fixed;
}

ion-grid.optionBar {
  padding: 10px 45px;
}
ion-grid.optionBar ion-grid {
  padding: 0;
}
ion-grid.optionBar ion-grid ion-row {
  min-height: 43px;
}
ion-grid.optionBar .selectInput {
  min-width: 200px;
}
ion-grid.optionBar em {
  display: block;
  font-size: 12px;
  line-height: 1rem;
}

/* Item table / list */
ion-grid.itemList {
  font-size: 12px;
  line-height: 1.125rem;
}
ion-grid.itemList ion-row {
  border-bottom: 1px solid var(--ion-color-lighter);
}
ion-grid.itemList ion-row:not(.header):hover {
  background: var(--ion-color-lightest);
  cursor: pointer;
}
ion-grid.itemList ion-row:first-of-type {
  border-top: 1px solid var(--ion-color-lighter);
}
ion-grid.itemList ion-row:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}
ion-grid.itemList ion-col {
  border-left: 1px solid var(--ion-color-lighter);
  padding: 10px 8px;
  overflow: hidden;
}
ion-grid.itemList ion-row ion-col:first-of-type {
  border-left: none;
}
ion-grid.itemList ion-col.item-status-PUBLIC {
  color: var(--ion-color-success);
  font-weight: bold;
}
ion-grid.itemList ion-col.item-status-ARCHIVED,
ion-grid.itemList ion-col.item-status-REMOVED {
  color: var(--ion-color-danger);
  opacity: 0.75;
}

ion-grid.itemList ion-col.item-status-DRAFT {
  color: var(--ion-color-medium);
  font-style: italic;
}
ion-grid.itemList .header ion-col {
  padding: 10px 8px;
  align-items: center !important;
  display: flex;
}
ion-grid.itemList .header ion-button {
  font-weight: bold;
  height: auto;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
  word-break: break-word;
  --padding-top: 4px;
  --padding-bottom: 4px;
}
ion-grid.itemList .header ion-button svg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  overflow: visible;
  transform: rotate(-90deg);
  transition: transform 150ms;
}
ion-grid.itemList .header ion-button.desc svg {
  transform: rotate(90deg);
}

/* Form grid */
ion-grid.formGrid ion-col {
  padding: 5px 8px 10px;
}
ion-grid.formGrid .bordered ion-col {
  border-left: 1px solid var(--ion-color-lighter);
  padding: 5px 15px 10px;
}
ion-grid.formGrid ion-col:first-of-type {
  border-left: none;
  padding-left: 0;
}
ion-grid.formGrid ion-col:last-of-type {
  padding-right: 0;
}
.mainContent form ion-text h2 {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0px 0;
  border-bottom: 1px solid var(--ion-color-light);
}
.mainContent form ion-text h3 {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: bold;
  margin: 10px 5px 0;
  border-bottom: 1px solid var(--ion-color-lighter);
}
.mainContent form ion-text h4 {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: bold;
  margin: 10px 5px 0;
}

.mainContent .formSection hr {
  border-top: 1px solid var(--ion-color-lighter);
  margin: 5px;
}
.mainContent ion-item.sectionHeader {
  --background-focused: none;
  --padding-start: 5px;
  --padding-end: 5px;
  --min-height: 30px;
  --border-color: var(--ion-color-lighter);
  --inner-padding-end: 0;
  overflow: visible;
  margin-top: 16px;
}
.mainContent ion-item.sectionHeader h3 {
  margin: 10px 0 0;
  border: none;
}
.mainContent ion-item.sectionHeader h3.disabled {
  opacity: 0.5;
}
.mainContent ion-item.sectionHeader ion-button.toggle {
  transition: transform 150ms;
}
.mainContent ion-item.sectionHeader ion-button.open {
  transform: rotate(90deg);
}
.mainContent ion-item.sectionHeader ion-button.close {
  transform: rotate(-90deg);
}
.mainContent .sectionContent {
  transition: all 150ms;
  max-height: 199vh;
  overflow: auto;
}
.mainContent .sectionContent.closed {
  max-height: 0;
  overflow: hidden;
}
.mainContent .sectionContent p {
  margin: 10px 5px 0;
  font-size: 14px;
}

/* Footer */
ion-footer {
  box-shadow: none !important;
}
ion-footer.small ion-toolbar {
  --min-height: 30px;
}

/* Modal */
ion-modal .gradient-top {
  height: 12px;
  background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-tertiary));
}

ion-modal ion-header.header-md::after {
  content: none;
}

ion-modal ion-footer.footer-md::before {
  content: none;
}

ion-modal ion-header ion-title {
  font-size: 24px;
  font-weight: bold;
  padding-inline: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  letter-spacing: 0;
}

ion-modal.prompt ion-grid {
  padding: 0 calc(28px - 5px);
  margin: 0;
}

ion-modal ion-text p {
  margin-top: 0;
}

ion-modal ion-header ion-toolbar.titleBar {
  padding-left: 0;
}

ion-modal ion-footer ion-toolbar.buttonBar {
  padding: 0 28px;
  --min-height: calc(42px + 2 * 28px);
}
ion-modal ion-footer ion-toolbar.buttonBar ion-button {
  margin-bottom: 0px;
  font-size: 20px;
  min-width: 175px;
}

ion-modal .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lightest);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  min-height: 0;
  margin: 0 calc(24px - 6px) 0 0;
}
ion-modal .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
ion-modal .closeButton svg {
  width: 24px;
  height: 24px;
}

ion-modal .wrappable-title {
  overflow: visible;
  white-space: normal;
}

ion-modal.prompt {
  --max-height: 90%;
  --width: 600px;
  --max-width: 95%;
}

ion-modal.prompt::part(content) {
  height: fit-content;
  overflow: visible;
}

ion-modal.prompt .ion-page {
  overflow: visible;
}

ion-modal.publish-details {
  --width: 1350px;
  --height: fit-content;
}

ion-modal.publish-details ion-grid.publishDetailsGrid {
  width: 100%;
  min-height: 380px;
}

ion-modal.publish-details ion-row.publishDetailsRow {
  padding: 0px 25px 0px 25px;
}

/* Alert */
ion-grid.alert {
  font-size: 14px;
  padding: 14px;
  background-color: var(--ion-color-lightest);
  border: 1px solid var(--ion-color-light);
}
ion-grid.alert.success {
  background-color: var(--ion-color-successbg);
  border: 1px solid var(--ion-color-success);
}
ion-grid.alert.warning {
  background-color: var(--ion-color-warningbg);
  border: 1px solid var(--ion-color-warning);
}
ion-grid.alert.error {
  background-color: var(--ion-color-dangerbg);
  border: 1px solid var(--ion-color-danger);
}
ion-modal ion-grid.alert {
  padding: 0;
  background-color: unset;
  border: none;
}
ion-grid.alert ion-row ion-col:first-child {
  width: calc(24px + 16px) !important;
}
ion-grid.alert ion-icon {
  font-size: 24px !important;
  margin: 0 16px 0 0;
  vertical-align: top;
}
ion-grid.alert ion-icon.error {
  color: var(--ion-color-danger);
}

/* Map export tool */
.mapExportTool h4 ion-button.icon-only {
  vertical-align: sub;
  margin-left: 4px;
}
.mapExportTool h4 ion-button:disabled {
  opacity: 0.5;
}
.mapExportTool > ion-row > ion-col:first-of-type {
  max-height: calc(100vh - 75px - 100px);
  box-sizing: content-box;
}

.mapExportTool ion-grid.print-images {
  padding: 5px 0;
}
.mapExportTool ion-grid.print-images p {
  font-size: 12px;
  margin-top: 0;
}
.mapExportTool ion-grid.print-images p img.orientation {
  width: 12px;
  height: 12px;
  vertical-align: text-bottom;
}
.mapExportTool ion-grid.picWrapper {
  border: 1px solid var(--ion-color-light);
  background-color: var(--ion-color-lightest);
}
.mapExportTool ion-grid.print-images a.picLink {
  position: relative;
  display: inline-block;
}
.mapExportTool ion-grid.print-images a.picLink.disabled {
  pointer-events: none;
}
.mapExportTool ion-grid.print-images a.picLink.disabled img {
  filter: grayscale(100%);
}
.mapExportTool ion-grid.print-images a.picLink:not(.selected) img {
  filter: grayscale(1);
}
.mapExportTool ion-grid.print-images a.picLink:hover img {
  filter: brightness(1.04);
}
.mapExportTool ion-grid.print-images a.picLink:not(.selected):hover img {
  filter: grayscale(1) brightness(1.04);
}
.mapExportTool ion-grid.print-images a.picLink:focus-visible {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: 0;
}
.mapExportTool .portrait img,
.mapExportTool .portrait ion-skeleton-text.pic {
  width: 143px;
  height: 202px;
  vertical-align: top;
  margin: 0;
}
.mapExportTool .portrait img.small,
.mapExportTool .portrait ion-skeleton-text.pic.small {
  width: 43px;
  height: 61px;
}
.mapExportTool .landscape img,
.mapExportTool .landscape ion-skeleton-text.pic {
  width: 202px;
  height: 143px;
  vertical-align: top;
  margin: 0;
}
.mapExportTool .landscape img.small,
.mapExportTool .landscape ion-skeleton-text.pic.small {
  width: 61px;
  height: 43px;
}
.mapExportTool .groupedPics a,
.mapExportTool .groupedPics ion-skeleton-text.pic.small {
  margin-top: 5px;
}
.mapExportTool ion-skeleton-text.text {
  width: 80px;
  height: 14px;
  margin: 0;
  vertical-align: text-top;
}
.mapExportTool ion-skeleton-text.text.inline {
  width: 50px;
  margin-left: 4px;
  display: inline-block;
}
.mapExportTool ion-grid.print-images ion-button.sequenceButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  --background: transparent;
  --color: transparent;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
}
.mapExportTool ion-grid.print-images ion-button.sequenceButton.selected {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
.mapExportTool ion-grid.print-images ion-button.deletePicture {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.mapExportTool ion-grid.print-images .formLabel {
  font-size: 12px;
}
.mapExportTool ion-grid.print-images .formGrid {
  --ion-grid-padding: 0;
}
.mapExportTool ion-grid.print-images .formGrid .bordered {
  flex-direction: column;
}
.mapExportTool ion-grid.print-images .formGrid .bordered ion-col {
  width: auto !important;
  max-width: 150px !important;
  flex: none !important;
  padding: 0 !important;
}
.mapExportTool ion-grid.print-images .formGrid .formInput {
  font-size: 12px;
  min-height: 32px;
  --padding-start: 9px;
  --padding-end: 9px;
  --padding-top: 9px;
  --padding-bottom: 9px;
}

ion-grid.printInfo ol {
  margin-top: 14px;
}
ion-grid.printInfo ol li {
  font-size: 14px;
  list-style-position: outside;
  margin-left: 1em;
}
ion-grid.printInfo ol li:last-child {
  margin-bottom: 0;
}
ion-grid.printInfo ol span.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background-color: var(--ion-color-primary-contrast);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  vertical-align: sub;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}
ion-grid.printInfo ol span.icon.orientation-PORTRAIT {
  background-image: url('./img/crop_portrait_icon.svg');
}
ion-grid.printInfo ol span.icon.orientation-LANDSCAPE {
  background-image: url('./img/crop_landscape_icon.svg');
}
ion-grid.printInfo ol span.icon.layers {
  background-image: url('./img/layers.svg');
}
ion-grid.printInfo ol span.icon.target {
  background-image: url('./img/ownLocation.svg');
}
ion-grid.printInfo ol span.icon.takeScreenshot {
  background-image: url('./img/take_screenshot_icon.svg');
}
ion-grid.printInfo ol span.icon.uploadPicture {
  background-image: url('./img/upload_image_icon.svg');
}
ion-grid.printInfo ol span.icon.select-image {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--ion-color-primary);
}

ion-modal.image {
  --max-height: 90%;
  --max-width: 95%;
}
ion-modal.image.PORTRAIT {
  --width: 645px;
  --height: 1060px;
}
ion-modal.image.LANDSCAPE {
  --width: 880px;
  --height: 820px;
}
ion-modal.image ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
}
ion-modal.image ion-content img {
  vertical-align: top;
}

.mapLegend {
  display: flex;
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.mapLegend .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-primary-contrast);
  opacity: 0.25;
}
.mapLegend .compassInfo {
  padding: 4px;
  width: auto;
  min-width: 24px;
}
.mapLegend .cardInfo {
  padding: 4px 8px;
}
.mapLegend .cardInfo h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 var(--ion-color-primary-contrast),
    -1px 1px 0 var(--ion-color-primary-contrast),
    1px -1px 0 var(--ion-color-primary-contrast),
    1px 1px 0 var(--ion-color-primary-contrast);
}
.mapLegend .cardInfo em {
  font-size: 12px;
  line-height: 1rem;
  display: block;
  text-shadow:
    -1px -1px 0 var(--ion-color-primary-contrast),
    -1px 1px 0 var(--ion-color-primary-contrast),
    1px -1px 0 var(--ion-color-primary-contrast),
    1px 1px 0 var(--ion-color-primary-contrast);
}
.mapLegend .cardInfo em.danger {
  color: var(--ion-color-danger);
}
.mapLegend .mapScale {
  border: 1px solid var(--ion-color-dark);
  border-top: none;
  color: var(--ion-color-dark);
  font-size: 10px;
  line-height: 1rem;
  text-align: center;
  margin: 6px auto 0 0;
  text-shadow:
    -1px -1px 0 var(--ion-color-primary-contrast),
    -1px 1px 0 var(--ion-color-primary-contrast),
    1px -1px 0 var(--ion-color-primary-contrast),
    1px 1px 0 var(--ion-color-primary-contrast);
  transition: all 0.25s;
}
.legendPositionButton {
  border: 1px solid black;
  opacity: 55%;
  position: absolute;
  margin: 0;
  width: 8px;
  height: 8px;
}
.topRight {
  top: 0;
  right: 0;
}
.topLeft {
  top: 0;
  left: 0;
}
.bottomRight {
  bottom: 0;
  right: 0;
}
.bottomLeft {
  bottom: 0;
  left: 0;
}
.colorGreen {
  background-color: green;
}
.colorRed {
  background-color: red;
}

span.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

dd {
  display: inline;
  margin: 0;
}

.print-images-warning {
  background: url('./img/error_icon.svg') no-repeat 1px center;
  background-size: 14px;
  padding-left: 18px;
  margin-left: 8px;
  color: var(--ion-color-danger);
  font-weight: normal;
  text-transform: none;
}

/* Status bar */

ion-row.infoHeaderRow {
  padding-bottom: 4px;
}
ion-header.infoHeader .infoHeaderDivider {
  border-top: 1px solid var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light);
}
.infoContent ion-text {
  font-size: 14px;
}
.infoContent .item-status-PUBLIC {
  color: var(--ion-color-success);
  font-weight: bold;
}
.infoContent .item-status-ARCHIVED,
.infoContent .item-status-REMOVED {
  color: var(--ion-color-danger);
  opacity: 0.75;
  font-size: 14px;
}

.item-status-REMOVED {
  text-decoration: line-through;
}

.infoContent .item-status-DRAFT {
  color: var(--ion-color-medium);
  font-style: italic;
  font-size: 14px;
}
