.ol-popup {
  min-width: 200px;
  max-width: 600px;
  touch-action: none;
}

.ol-popup .header {
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 8px;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  line-height: 1.125rem;
}

.ol-popup ion-row:first-child .header {
  margin-top: 4px;
}

.ol-popup > ion-grid,
.ol-popup > div.featureList {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  cursor: auto;
}

.ol-popup > ion-grid {
  padding: 8px;
}

.ol-popup .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lighter);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  height: 24px;
  margin: 0 0 0 12px;
}
.ol-popup .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
.ol-popup .closeButton ion-icon {
  width: 24px;
  height: 24px;
}

.ol-popup .info svg {
  color: var(--ion-color-primary);
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.ol-popup .info {
  margin: 0 0 0 0;
}

.ol-popup .faultGrid {
  border: 1px solid #ec0e0e;
  background-color: #fdf6f6;
}

ion-row.negativeMargin {
  margin-top: -4px;
}

.countryFlag img {
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-light);
}

.disableLink {
  opacity: 0.5;
  pointer-events: none;
}

.outdatedData {
  color: #EC0E0E
}

.outdatedDataIcon {
  margin-top: 2px;
  margin-right: 5px;
}
