
/* Date inputs */
.dateItem {
  border: 1px solid var(--ion-color-dark);
  box-sizing: border-box;
}

.dateIcon {
  width: 24px;
  height: 24px;
}

.dateItemWrapper:focus-within .dateItem {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
  border-width: 2px;
  margin: -1px;
}

.hiddenDateButton {
  display: none;
}