.md-editor-container {
  .w-md-editor {
    border-radius: 0;
    margin: 1px;
    padding-bottom: 0;
    color: var(--ion-color-dark);
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-color-dark);
    --md-editor-font-family: 'Exo2', sans-serif;
    --md-editor-box-shadow-color: var(--ion-color-dark);
  }

  .w-md-editor:focus-within {
    border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
    border-image-slice: 20%;
    border-image-width: 2px;
    border-width: 2px;
    margin: 0;
    --md-editor-box-shadow-color: var(--ion-color-primary);
  }

  .w-md-editor.error {
    border-color: var(--ion-color-danger);
    --md-editor-box-shadow-color: var(--ion-color-danger);
  }

  .w-md-editor.error:focus-within {
    border-image: none;
    border-color: var(--ion-color-danger);
    border-width: 2px;
    --md-editor-box-shadow-color: var(--ion-color-danger);
  }

  .wmde-markdown {
    font-family: 'Exo2', sans-serif;
    font-size: 14px;
    color: var(--ion-color-dark);
    line-height: unset;
    word-wrap: normal;

    p {
      margin-bottom: 12px;
    }
  }

  .w-md-editor-preview p {
    white-space: pre-line;
  }

  .error-text,
  .helper-text,
  .counter {
    display: block;
    font-size: 12px;
  }

  .error-text {
    background: url('../../theme/img/error_icon.svg') no-repeat 1px center;
    background-size: 14px;
    padding-left: 18px;
    color: var(--ion-color-danger);
  }

  .helper-text,
  .counter {
    line-height: 1rem;
    color: var(--ion-color-medium);
  }

  .counter {
    text-align: right;
  }
}
