/* Split pane by IonGrid */
#fairwayContent {
  width: 495px;
  max-width: 95%;
  flex: 0 0 495px;
  transition: all 150ms;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#fairwayContent.wide {
  width: 814px;
  flex-basis: 814px;
}
#fairwayContent.hidden {
  width: 0;
  flex: 0 0 0px;
  overflow: hidden;
}
#fairwayPane {
  transition: width 150ms;
}
#splitPane > ion-row {
  height: 100vh;
}

/* Buttons */
button.icon {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  background-color: var(--ion-color-primary-contrast);
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
button.icon.invert {
  color: var(--ion-color-primary-contrast);
  background-color: var(--ion-color-primary);
}
button.icon.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
button.icon:hover {
  background-color: var(--ion-color-lighter);
}
button.icon.invert:hover {
  background-color: var(--ion-color-primary-shade);
}
button.icon:focus-visible {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: 1px;
}
button.icon:focus-visible:hover {
  outline: 2px solid var(--ion-color-primary-shade);
}

/* Content */
#fairwayCardsContainer {
  --padding-top: 48px;
  --padding-start: 48px;
  --padding-end: 33px; /* scrollbar width (~15px on average) subtracted */
  --padding-bottom: 48px;
  --background: var(--ion-color-lightest);
}
#fairwayCardsContainer::part(scroll) {
  scrollbar-gutter: stable;
}
#fairwayCardsContainer ion-col.ion-margin-start {
  margin-inline-start: 22px;
}
#fairwayCardsContainer ion-col.ion-margin-end {
  margin-inline-end: 22px;
}
#fairwayCardsContainer ion-col.wide:first-child {
  padding-right: 24px;
}
#fairwayCardsContainer ion-col.wide:last-child {
  padding-left: 24px;
}

/* Search input */
.dropdownWrapper {
  max-width: 273px;
  position: relative;
  transition: max-width 150ms;
}

.wide .dropdownWrapper {
  max-width: 335px;
}

.dropdownWrapper ion-input.searchBar {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid var(--ion-color-dark);
  border-radius: 0;
  --min-height: 43px;
  --background: var(--ion-color-primary-contrast);
  --padding-top: 1px;
  --padding-bottom: 1px;
}

.dropdownWrapper ion-input.searchBar input {
  background: var(--ion-color-primary-contrast) url('../../theme/img/search.svg') no-repeat right 12px center;
  background-size: 24px 24px;
  border-radius: 0;
  min-height: 41px;
  padding-inline-start: 10px;
}

.dropdownWrapper label.input-wrapper {
  min-height: 41px;
}

.dropdownWrapper ion-input.searchBar.has-focus {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
  border-width: 2px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.dropdownWrapper ion-input.searchBar.has-focus input {
  caret-color: auto;
  background-position: right 11px center;
  padding-inline-start: 9px;
}

.dropdownWrapper ion-input.searchBar.has-value input {
  padding-right: 12px;
  background: var(--ion-color-primary-contrast);
}

.dropdownWrapper ion-input.searchBar.has-value + button.input-clear-icon {
  background: var(--ion-color-primary-contrast) url('../../theme/img/close_primary.svg') no-repeat center;
  background-size: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 11px;
  right: 12px;
  z-index: 2;
}

.dropdownWrapper ion-input.searchBar.has-value + button.input-clear-icon:hover {
  background-color: var(--ion-color-light);
  font-size: 14px;
}

.dropdownWrapper ion-input.searchBar.has-value + button.input-clear-icon:focus-visible {
  background-color: var(--ion-color-primary-contrast);
  opacity: 1;
  outline: 1px solid var(--ion-color-dark);
}

.dropdownWrapper ion-input.searchBar:not(.has-value) + button.input-clear-icon {
  display: none;
}

.placeholderSmallerFont {
  font-size: 11.25px;
}
/* Only placeholder text needs to be smaller since it's longer now */
.placeholderSmallerFont ion-input.searchBar.has-value {
  font-size: 16px;
}

#fairwayCardsContainer .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lighter);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  margin: 0 0 0 12px;
}
#fairwayCardsContainer .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
#fairwayCardsContainer .closeButton ion-icon {
  width: 24px;
  height: 24px;
}
ion-modal ion-button.button-disabled {
  opacity: 0.5;
}

#splitPane .togglePane {
  --background: var(--ion-color-primary-contrast);
  --background-hover: var(--ion-color-lighter);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 8px;
  --padding-start: 3px;
  --border-radius: 0 20px 20px 0;
  --box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: calc(50% - 20px);
}
#splitPane .togglePane.flip {
  --padding-end: 3px;
  --padding-start: 8px;
  --border-radius: 20px 0 0 20px;
}
#splitPane .togglePane.ion-focused::part(native) {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: 1px;
}
#splitPane .togglePane.flip::part(native) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h2 {
  margin-top: 16px;
}
.fairwayTitle h2 {
  line-height: 2rem;
}
.fairwayTitle em,
.fairwayTitle a {
  font-size: 12px;
}
ion-text p {
  font-size: 12px;
  line-height: 1.125rem;
  margin-top: 0;
}
ion-text h4,
ion-text .h4 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 24px;
  line-height: 1.5rem;
  break-after: avoid;
  margin-bottom: 0.5rem;
}
ion-text h4 span,
ion-text .h4 span {
  text-transform: none;
}
ion-text h5,
ion-text .h5 {
  font-size: 12px;
  margin: 12px 0 0px;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: none;
  break-after: avoid;
}

.fairwayAreasFairwayName {
  margin-bottom: 0;
}

ion-text .info svg {
  color: var(--ion-color-primary);
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
ion-text .info.inline svg {
  margin-left: 8px;
}
ion-text .hoverText {
  display: block;
}
ion-text .hoverText:hover {
  background-color: var(--ion-color-light);
  cursor: default;
}
ion-text .hoverText:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}

ion-text .inlineHoverText:hover {
  background-color: var(--ion-color-light);
  cursor: default;
}
ion-text .inlineHoverText:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}

ion-accordion {
  background-color: var(--ion-color-lightest);
  border-bottom: 1px solid var(--ion-color-light);
  margin-top: 16px;
}
ion-accordion.accordion-collapsed {
  border-bottom: 1px solid var(--ion-color-light);
}
ion-accordion:not(.accordion-collapsed) {
  border-bottom-color: var(--ion-color-lightest);
}
ion-accordion::part(header) {
  min-height: 24px;
  width: max-content;
}
ion-accordion::part(content) {
  background: var(--ion-color-lightest);
}
ion-accordion .tabContent {
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid var(--ion-color-light);
}
.accItem {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  --padding-start: 0;
  --inner-padding-start: 2px;
  --inner-padding-end: 5px;
  --min-height: 24px;
}
.accItem ion-label {
  margin: 0;
  color: var(--ion-color-dark) !important;
}
.accItem ion-icon {
  margin: 0 0 0 6px;
}

/* Grid table */
ion-grid.table {
  color: var(--ion-color-dark);
}
ion-grid.table ion-row {
  font-size: .75rem;
  line-height: 1.5rem;
  border-bottom: 1px solid var(--ion-color-light);
}
ion-grid.table ion-row:last-child {
  border-bottom: none;
}
ion-grid.table ion-row.header {
  font-weight: bold;
}
ion-grid.table ion-row > ion-col {
  padding: 0 5px;
  border-right: 1px solid var(--ion-color-light);
}
ion-grid.table ion-row > ion-col > ion-label a {
  display: flex;
  margin: 0 -5px;
  padding: 0 5px;
}
ion-grid.table ion-row > ion-col:last-child {
  border-right: none;
}
ion-grid.table.light ion-row.header {
  font-weight: normal;
}
ion-grid.table.light ion-row:not(.header) {
  border: none;
}
ion-grid.table.light ion-row > ion-col {
  border-right: none;
}
ion-grid.table.light ion-row.header .h5 {
  margin-bottom: 0;
  text-transform: lowercase;
  line-height: 0.875rem;
}
ion-grid.table.light ion-row.header .h5::first-letter {
  text-transform: capitalize;
}

/* Breadcrumb */
ion-breadcrumbs {
  padding: 20px 0 6px;
}
ion-breadcrumb::part(native) {
  padding: 0;
  color: var(--ion-color-dark);
}
ion-breadcrumb.ion-focusable::part(native) {
  text-decoration: underline;
  border-radius: 0;
  box-shadow: none;
}
ion-breadcrumb.ion-focusable::part(native):hover {
  background-color: var(--ion-color-light);
  cursor: pointer;
}
ion-breadcrumb.ion-focused::part(native) {
  outline: 1px solid var(--ion-color-dark);
  outline-offset: 1px;
}
ion-breadcrumb::part(separator) {
  color: var(--ion-color-dark);
  margin: 0 5px;
}
ion-app:not(.mobile) .breadcrumbs .closeButton {
  display: none;
}

/* Tabs */
.tabContent {
  margin-top: 16px;
  display: none;
  transition: column-count 150ms 50ms;
}
.tabContent.wide {
  column-count: 2;
  column-gap: 48px;
}
.tabContent.tab5.wide {
  column-count: 2;
  column-gap: 16px;
}
.hidden .tabContent.wide {
  column-count: 1;
  transition: column-count 0s;
}
.tabContent.active {
  display: block;
}
.tabContent ion-text {
  break-inside: avoid;
}
.group {
  break-inside: avoid;
}

.mapWrapper {
  position: absolute;
  bottom: 0;
  left: -9999px;
  visibility: hidden;
}

/* Modals */
.contentModal .closeButton {
  margin: 0;
}
.contentModal ion-content {
  --padding-top: 0;
  --background: var(--ion-color-lightest);
}
.contentModal::part(handle) {
  height: 22px;
  background: url('../../theme/img/drag_handle.svg') no-repeat center;
  opacity: 1;
  transition:
    height 150ms,
    opacity 150ms,
    padding 150ms;
}
.contentModal.full::part(handle) {
  height: 0;
  padding: 0;
  opacity: 0;
}
.contentModal::part(content) {
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}
.contentModal.ion-disable-focus-trap ion-content::part(scroll) {
  overflow: hidden;
}

.contentModal ion-content > ion-grid.searchBar {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 150ms,
    opacity 150ms;
}
.contentModal.full ion-content > ion-grid.searchBar {
  max-height: calc(45px + 24px + 16px);
  opacity: 1;
  overflow: unset;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  padding: 24px 16px 16px;
  background-color: var(--ion-color-lightest);
}
.contentModal .breadcrumbs {
  padding-top: 26px;
}
.contentModal.full .breadcrumbs {
  padding-top: calc(24px + 45px + 10px);
}
.contentModal.full .breadcrumbs .closeButton {
  display: none;
}
.contentModal ion-breadcrumbs {
  padding-top: 6px;
}
.contentModal ion-breadcrumbs ion-breadcrumb {
  font-size: 12px;
}

.contentModal .ion-margin-top {
  margin-top: 10px;
}

#fairwayContent .skip-to-main-content-link {
  position: absolute;
  top: 20px;
  left: 48px;
  opacity: 0;
  cursor: default;
}

#fairwayContent .skip-to-main-content-link:focus {
  opacity: 1;
}

ion-modal.contentModal {
  touch-action: none;
}

ion-text.previewText > * {
  color: #ec0e0e;
}

.disabled {
  pointer-events: none;
  opacity: 50%;
}

.mareographsTitle {
  font-size: 12px;
}

.fairwayCardInfoIcon {
  position: relative;
  max-height: 12px;
  max-width: 12px;
  margin-right: 6px;
  margin-left: 6px;
  top: 4px;
  color: var(--ion-color-primary);
}
