#marineWarningList {
  padding: 0 1px;
}

#marineWarningList ion-grid.table ion-row > ion-col {
  padding: 5px 5px 5px 0;
  border: none;
}

#marineWarningList ion-grid.table ion-row > ion-col h4 {
  margin: 0;
}

#marineWarningList ion-grid.table ion-row > ion-col p {
  margin: 0;
}
