#marineWarningList {
  padding: 0 1px;
}

#marineWarningList ion-grid.table ion-row > ion-col {
  padding: 5px 5px 5px 0;
  border: none;
}

#marineWarningList ion-grid.table ion-row > ion-col h4 {
  margin: 0;
}

#marineWarningList ion-grid.table ion-row > ion-col p {
  margin: 0;
}

ion-grid.inlineHoverText:hover {
  background-color: var(--ion-color-light);
  cursor: default;
}

ion-grid.inlineHoverText:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}

.marineWarningList ion-grid.inlineHoverText:hover {
  background-color: var(--ion-color-dangerbg-shade);
}

div.marineWarningList ion-grid.inlineHoverText:focus-visible {
  outline: none;
}

ion-text .warningHeader {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: none;
  break-after: avoid;
}

ion-grid.table.light ion-row.header .warningHeader {
  margin-bottom: 0;
  line-height: 0.875rem;
}
