.wmde-markdown.markdown-text {
  background-color: transparent;
  color: var(--ion-color-dark);
  font-family: 'Exo2', sans-serif;
  font-size: 12px;
  line-height: 1.125rem;
  word-wrap: normal;

  p {
    white-space: pre-wrap;
    margin-bottom: 12px;
  }

  a {
    color: var(--ion-color-primary);
    text-decoration: underline;
  }

  b,
  strong {
    font-weight: bold;
  }
}
