#safetyEquipmentFaultList ion-grid.table {
  padding-bottom: 16px;
}

#safetyEquipmentFaultList ion-grid.table ion-row > ion-col {
  padding: 5px 5px 2px 0;
  border: none;
}

#safetyEquipmentFaultList ion-grid.table ion-row > ion-col h4 {
  margin: 0;
}

#safetyEquipmentFaultList ion-grid.table ion-row > ion-col p {
  margin: 0;
}

.equipmentListIcon {
  margin-top: 3px;
  width: 32px;
  height: 32px;
  position: relative;
  left: 4px;
}

.faultInfoCol {
  margin-bottom: 8px;
}

.customInfoStyle .info svg {
  width: 12px;
  height: 12px;
}

.faultFilterContainer {
  position: relative;
  margin-top: 15px;
  right: 5px;
}

.faultSortingButton {
  position: relative;
  top: 14px;
  left: 12px;
}