ion-item.filterSelectInput {
  font-size: 14px;
  width: auto;
  min-width: 150px;
  max-width: 100%;
  --min-height: 43px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-width: 0;
  --background: var(--ion-color-dark);
}

ion-item.filterSelectInput.item-has-focus,
ion-item.filterSelectInput.ion-focused,
ion-item.filterSelectInput:has(.select-expanded) {
  --highlight-background: transparent;
  --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
}

ion-item.filterSelectInput::part(native) {
  border-radius: 0;
  overflow: hidden;
}

ion-item.filterSelectInput ion-select {
  min-height: 0;
  height: calc(100% - 2px);
  margin: 0 auto;
  background-color: var(--ion-color-primary-contrast);
  width: calc(100% - 2px);
  --padding-start: 13px;
  --padding-end: 13px;
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
  --border-radius: 0;
  --border-width: 0;
}

ion-item.filterSelectInput.ion-focused ion-select,
ion-item.filterSelectInput ion-select.select-expanded {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  --padding-start: 12px;
  --padding-end: 12px;
}

ion-item.filterSelectInput.ion-focused ion-select::part(icon) {
  margin-top: 1px;
}

ion-popover.multiSelect {
  --offset-y: 2px;
}
ion-popover.multiSelect::part(content) {
  border-radius: 0;
}
ion-popover.multiSelect ion-item {
  font-size: 14px;
}

.filterTitle {
  height: 20px;
  width: 23px;
  color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.sortingButton {
  margin-top: 24px;
  --padding-top: 2px;
  --padding-bottom: 2px;
  --padding-start: 2px;
  --padding-end: 2px;
}

.sortingIcon {
  height: 26px;
  width: 26px;
}

.flipped {
  transform: rotate(180deg);
}

.listIcon {
  margin-top: 3px;
  margin-right: 15px;
  height: 33px;
  width: 30px;
}

#marineWarningList ion-grid.table ion-row > ion-col.no-padding {
  padding: 0;
}
