.filterTitle {
  height: 20px;
  width: 23px;
  color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  position: relative;
}

.sortingButton {
  margin-top: 24px;
  background-color: transparent;
}
.sortingButton:hover {
  background-color: var(--ion-color-lighter);
  border-radius: 5px;
}
.sortingButton:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}

.sortingIcon {
  position: relative;
  height: 26px;
  width: 26px;
  padding: 2px 4px 4px 4px;
}

.flipped {
  transform: rotate(180deg);
}

.listIcon {
  margin-top: 3px;
  margin-right: 15px;
  height: 33px;
  width: 30px;
}

#marineWarningList ion-grid.table ion-row > ion-col.no-padding {
  padding: 0;
}

ion-item.customSelect {
  font-size: 14px;
  width: 100%;
  opacity: 1;
  border: 1px solid var(--ion-color-dark);
  --min-height: 43px;
  --padding-start: 14px;
  --inner-padding-end: 14px;
  --background-hover-opacity: 0;
  --ripple-color: transparent;
}

ion-item.customSelect::part(native) {
  min-height: 41px;
  margin: 1px;
}

ion-item.customSelect ion-label {
  white-space: nowrap;
  overflow: hidden;
}

ion-item.customSelect.expanded {
  border-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  border-image-slice: 20%;
  border-image-width: 2px;
  border-width: 2px;
  --inner-padding-end: 12px;
}

ion-item.customSelect.expanded::part(native) {
  margin: 0;
}

.toRight {
  padding: 0px;
}

ion-popover.customPopover {
  --min-width: fit-content;
  --max-height: 595px;
  border-radius: 0px;
}

.customSelectIcon {
  width: 13px;
}

.halfOpacity {
  opacity: 0.5;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  font-size: 14px;
}

ion-popover.tooLong::part(content) {
  bottom: 0;
}
