ion-text > * {
  color: var(--ion-color-dark);
}
ion-text h1 {
  font-size: 2.2rem;
}
ion-text h3 {
  font-size: 1rem;
}
ion-text.equal-margin-top > * {
  margin-top: 10px;
}
ion-text.no-margin > * {
  margin: 0;
}
ion-text.no-margin-top > *:first-child {
  margin-top: 0 !important;
}

/* Grid */
ion-grid.margin-top {
  margin-top: 30px;
}
ion-grid.divider {
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 24px;
}
ion-row.input-row > ion-col {
  min-height: 0;
}

.flipped {
  transform: rotate(180deg);
}
.use-flex {
  display: flex;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.left-padding {
  padding-left: 5px;
}
.top-padding {
  padding-top: 10px;
}
.top-padding.in-print {
  padding-top: 0;
}
.bottom-padding {
  padding-bottom: 10px;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-text {
  font-size: 14px;
}
.printable {
  display: none;
}

ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 20px;
  --box-shadow: 0 2px 8px 2px rgba(0,0,0,0.2);
  margin: 0;
  height: 40px;
  width: 40px;
  vertical-align: top;
  border-radius: 20px;
}
ion-button.icon-only.small {
  --box-shadow: none;
  height: 30px;
  width: 30px;
  vertical-align: top;
}
ion-button.icon-only:hover {
  --background-hover: none;
  --color: var(--ion-color-primary-shade);
}
ion-button.icon-only.ion-focused {
  --background-focused: none;
  outline: 2px solid var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary-contrast);
}
ion-button.icon-only.ion-focused:hover {
  --background: var(--ion-color-primary-contrast);
  outline: 2px solid var(--ion-color-primary-shade);
}

ion-button.icon-only ion-icon {
  height: 30px;
  width: 30px;
}

ion-icon.medium {
  font-size: 22px;
  --ionicon-stroke-width: 32px;
}

/* Footer */
ion-footer.small ion-toolbar {
  --min-height: 30px;
}


/* Modals */
ion-modal .gradient-top {
  height: 12px;
  background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-tertiary));
}

ion-modal ion-header.header-md::after {
  content: none;
}

ion-modal ion-footer.footer-md::before {
  content: none;
}

ion-modal ion-header ion-title {
  font-size: 24px;
  font-weight: bold;
  padding-inline: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
}

ion-modal ion-content {
  --height: 100px;
}

ion-modal ion-footer ion-toolbar.buttonBar {
  --min-height: 60px;
}

ion-modal ion-footer ion-toolbar.buttonBar ion-button {
  height: 48px;
  width: 175px;
  margin-right: 28px;
  margin-bottom: 28px;
}

ion-modal ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  margin: 0 0 0 8px;
  vertical-align: top;
  --box-shadow: none;
}

ion-modal .wrappable-title {
  overflow: visible;
  white-space: normal;
}

ion-modal.small {
  --height: 350px;
  --width: 400px;
}
