/* Disable dynamic font scaling */
html {
  --ion-dynamic-font: initial;
}
ion-text > * {
  color: var(--ion-color-dark);
}
ion-text h1 {
  font-size: 2.2rem;
}
ion-text h3 {
  font-size: 1rem;
}
ion-text.equal-margin-top > * {
  margin-top: 10px;
}
ion-text.no-margin > * {
  margin: 0;
}
ion-text.no-margin-top > *:first-child {
  margin-top: 0 !important;
}
ion-text.disabled {
  opacity: 0.5;
}

/* Grid */
ion-grid.margin-top {
  margin-top: 30px;
}
ion-grid.divider {
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 24px;
}
ion-row.input-row > ion-col {
  min-height: 0;
}

.flipped {
  transform: rotate(180deg);
}
.use-flex {
  display: flex;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.top-padding {
  padding-top: 10px;
}
.top-padding.in-print {
  padding-top: 0;
}
.bottom-padding {
  padding-bottom: 10px;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-text {
  font-size: 14px;
}
.printable,
.mobile .no-mobile {
  display: none;
}

/* Links */
a {
  color: var(--ion-color-dark);
  text-decoration: underline;
}
a[target='_blank'] {
  color: var(--ion-color-primary);
  padding-right: 14px;
  background: url('./img/externalLink.svg') no-repeat right center;
}
a.fileDownload {
  color: var(--ion-color-primary);
  white-space: nowrap;
}
a:hover {
  background-color: var(--ion-color-light);
}
a:focus-visible {
  outline: 1px solid var(--ion-color-dark);
  outline-offset: 1px;
}
a[target='_blank']:focus-visible,
a.fileDownload:focus-visible {
  outline: 1px solid var(--ion-color-primary);
}
.offline a[target='_blank'] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.offline a[target='_blank']:focus-visible {
  outline: none;
}

/* Lists */
ol {
  margin: 0;
  padding: 0;
}
ol li {
  font-size: 12px;
  line-height: 1.125rem;
  margin-bottom: 1em;
  list-style-position: inside;
}

/* Buttons */
ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 20px;
  --box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 40px;
  width: 40px;
  vertical-align: top;
  border-radius: 20px;
}
ion-button.icon-only.small {
  --box-shadow: none;
  height: 30px;
  width: 30px;
  vertical-align: top;
  min-height: 30px;
}
ion-button.icon-only:hover {
  --background-hover: none;
  --color: var(--ion-color-primary-shade);
}
ion-button.icon-only.ion-focused {
  --background-focused: none;
  outline: 2px solid var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary-contrast);
}
ion-button.icon-only.ion-focused:hover {
  --background: var(--ion-color-primary-contrast);
  outline: 2px solid var(--ion-color-primary-shade);
}

ion-button.icon-only ion-icon {
  height: 30px;
  width: 30px;
}

ion-icon.medium {
  font-size: 22px;
  --ionicon-stroke-width: 32px;
}

.offlineStatus {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: var(--ion-color-primary);
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.94;
}
ion-text.offlineStatus > * {
  font-size: 12px;
  line-height: 1.125rem;
  color: var(--ion-color-primary-contrast);
}

ion-progress-bar {
  position: fixed;
  z-index: 99999;
}
ion-progress-bar.danger {
  --background: rgba(var(--ion-color-danger-rgb), 0.3);
  --progress-background: var(--ion-color-danger);
}

.mobile ion-alert {
  z-index: 30000 !important;
}

/* Footer */
ion-footer.small ion-toolbar {
  --min-height: 30px;
}

/* General alerts */
ion-grid.top-margin {
  margin-top: 1em;
  margin-bottom: 0;
}
ion-grid.top-margin.alert {
  margin-top: 3em;
  margin-bottom: 0;
}
.mobile .full ion-grid.top-margin.alert {
  margin-top: 8em;
}

ion-grid.danger {
  padding: 16px;
  background-color: var(--ion-color-dangerbg);
  border: 1px solid var(--ion-color-danger);
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1.25rem;
}
ion-grid.danger ion-col.icon {
  height: 22px;
  box-sizing: content-box;
}

ion-grid.danger ion-icon {
  font-size: 22px;
  margin-right: 16px;
}

ion-grid.danger ion-text {
  color: rgb(36, 34, 34);
}

ion-grid.warning {
  padding: 16px;
  background-color: var(--ion-color-warningbg);
  border: 1px solid var(--ion-color-warning);
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1.25rem;
}

ion-grid.warning ion-col.icon {
  height: 22px;
  box-sizing: content-box;
}

ion-grid.warning ion-icon {
  font-size: 22px;
  margin-right: 16px;
}

ion-grid.warning ion-text {
  color: rgb(36, 34, 34);
}

ion-grid.info {
  padding: 16px;
  border: 1px solid var(--ion-color-light);
  font-size: 14px;
  line-height: 1.25rem;
}

ion-grid.info ion-col.icon {
  height: 22px;
  box-sizing: content-box;
}

ion-grid.info ion-icon {
  margin-right: 16px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

ion-grid.info ion-text {
  color: rgb(36, 34, 34);
}

span.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

dd {
  display: inline;
  margin: 0;
}

.primaryColorLink {
  color: var(--ion-color-primary);
}
