@font-face {
  font-family: "Exo2";
  font-weight: 400;
  font-style: normal;
  src: url("./font/static/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-weight: 600;
  font-style: normal;
  src: url("./font/static/Exo2-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-weight: 700;
  font-style: normal;
  src: url("./font/static/Exo2-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-weight: 400;
  font-style: italic;
  src: url("./font/static/Exo2-Italic.ttf") format("truetype");
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** Vayla default font */
  --ion-font-family: "Exo2";

  /** primary (Vayla dark blue) **/
  --ion-color-primary: #0064af;
  --ion-color-primary-rgb: 0, 100, 175;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00589a;
  --ion-color-primary-tint: #1a74b7;

  /** secondary (Vayla blue) **/
  --ion-color-secondary: #009ae0;
  --ion-color-secondary-rgb: 0,154,224;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0088c5;
  --ion-color-secondary-tint: #1aa4e3;

  /** tertiary (Vayla light blue) **/
  --ion-color-tertiary: #49c2f1;
  --ion-color-tertiary-rgb: 73,194,241;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #40abd4;
  --ion-color-tertiary-tint: #5bc8f2;

  /** success (Vayla green) **/
  --ion-color-success: #207a43;
  --ion-color-success-rgb: 32,122,67;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #1c6b3b;
  --ion-color-success-tint: #368756;

  /** successbg **/
  --ion-color-successbg: #f5ffef;
  --ion-color-successbg-rgb: 245,255,239;
  --ion-color-successbg-contrast: #000000;
  --ion-color-successbg-contrast-rgb: 0,0,0;
  --ion-color-successbg-shade: #d8e0d2;
  --ion-color-successbg-tint: #f6fff1;

  /** warning (Vayla yellow) **/
  --ion-color-warning: #c57a11;
  --ion-color-warning-rgb: 197,122,17;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #ad6b0f;
  --ion-color-warning-tint: #cb8729;

  /** warningbg **/
  --ion-color-warningbg: #fff6e8;
  --ion-color-warningbg-rgb: 255,246,232;
  --ion-color-warningbg-contrast: #000000;
  --ion-color-warningbg-contrast-rgb: 0,0,0;
  --ion-color-warningbg-shade: #e0d8cc;
  --ion-color-warningbg-tint: #fff7ea;

  /** danger **/
  --ion-color-danger: #ec0e0e;
  --ion-color-danger-rgb: 236,14,14;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d00c0c;
  --ion-color-danger-tint: #ee2626;

  /** dangerbg **/
  --ion-color-dangerbg: #fdf6f6;
  --ion-color-dangerbg-rgb: 253,246,246;
  --ion-color-dangerbg-contrast: #000000;
  --ion-color-dangerbg-contrast-rgb: 0,0,0;
  --ion-color-dangerbg-shade: #dfd8d8;
  --ion-color-dangerbg-tint: #fdf7f7;

  /** dark **/
  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51,51,51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;

  /** medium **/
  --ion-color-medium: #727272;
  --ion-color-medium-rgb: 114,114,114;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #646464;
  --ion-color-medium-tint: #808080;

  /** light **/
  --ion-color-light: #d8d8d8;
  --ion-color-light-rgb: 216,216,216;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #bebebe;
  --ion-color-light-tint: #dcdcdc;

  /** lighter (not a cigarette etc. lighter obviously) **/
  --ion-color-lighter: #f0f0f0;
	--ion-color-lighter-rgb: 240,240,240;
	--ion-color-lighter-contrast: #000000;
	--ion-color-lighter-contrast-rgb: 0,0,0;
	--ion-color-lighter-shade: #d3d3d3;
	--ion-color-lighter-tint: #f2f2f2;

  /** lightest **/
  --ion-color-lightest: #f8f8f8;
  --ion-color-lightest-rgb: 248,248,248;
  --ion-color-lightest-contrast: #000000;
  --ion-color-lightest-contrast-rgb: 0,0,0;
  --ion-color-lightest-shade: #dadada;
  --ion-color-lightest-tint: #f9f9f9;

  /** common **/
  --ion-color-layer-line: #0000ff;
  --ion-color-layer-boardline: #000000;
  --ion-color-layer-vts: #ff00ff;
  --ion-color-layer-safetyequipment: #231f20;
  --ion-color-layer-depth: #ff00ff;
  --ion-color-layer-speedlimit-border: #d72416;
  --ion-color-layer-speedlimit-text: #000000;
  --ion-color-layer-soundingpoint-text: #000000;
  --ion-color-layer-depthcontour: #3b6683;
  --ion-color-layer-ice: #969696;
  --ion-color-layer-pilotageareaborder: #FE7C00;
  --ion-color-speedlimit-30: #00b0cc;
  --ion-color-speedlimit-25: #8dcb6d;
  --ion-color-speedlimit-20: #ffc300;
  --ion-color-speedlimit-15: #ff5100;
  --ion-color-speedlimit-10: #c73f00;
  --ion-color-speedlimit-5: #e50083;
  --ion-color-ice-free: #ffffff;
  --ion-color-ice-new: #ffafff;
  --ion-color-ice-thin: #ff64ff;
  --ion-color-ice-fast: #969696;
  --ion-color-ice-rotten: #6473a0;
  --ion-color-ice-openwater: #96c8ff;
  --ion-color-ice-veryopen: #8cffa0;
  --ion-color-ice-open: #ffff00;
  --ion-color-ice-close: #ff7d07;
  --ion-color-ice-veryclose: #ff0000;
  --ion-color-ice-consolidated: #910000;
}

/* Add new colors */
.ion-color-successbg {
	--ion-color-base: var(--ion-color-successbg);
	--ion-color-base-rgb: var(--ion-color-successbg-rgb);
	--ion-color-contrast: var(--ion-color-successbg-contrast);
	--ion-color-contrast-rgb: var(--ion-color-successbg-contrast-rgb);
	--ion-color-shade: var(--ion-color-successbg-shade);
	--ion-color-tint: var(--ion-color-successbg-tint);
}
.ion-color-warningbg {
	--ion-color-base: var(--ion-color-warningbg);
	--ion-color-base-rgb: var(--ion-color-warningbg-rgb);
	--ion-color-contrast: var(--ion-color-warningbg-contrast);
	--ion-color-contrast-rgb: var(--ion-color-warningbg-contrast-rgb);
	--ion-color-shade: var(--ion-color-warningbg-shade);
	--ion-color-tint: var(--ion-color-warningbg-tint);
}
.ion-color-dangerbg {
	--ion-color-base: var(--ion-color-dangerbg);
	--ion-color-base-rgb: var(--ion-color-dangerbg-rgb);
	--ion-color-contrast: var(--ion-color-dangerbg-contrast);
	--ion-color-contrast-rgb: var(--ion-color-dangerbg-contrast-rgb);
	--ion-color-shade: var(--ion-color-dangerbg-shade);
	--ion-color-tint: var(--ion-color-dangerbg-tint);
}
.ion-color-lighter {
  --ion-color-base: var(--ion-color-lighter);
  --ion-color-base-rgb: var(--ion-color-lighter-rgb);
  --ion-color-contrast: var(--ion-color-lighter-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lighter-contrast-rgb);
  --ion-color-shade: var(--ion-color-lighter-shade);
  --ion-color-tint: var(--ion-color-lighter-tint);
}
.ion-color-lightest {
  --ion-color-base: var(--ion-color-lightest);
  --ion-color-base-rgb: var(--ion-color-lightest-rgb);
  --ion-color-contrast: var(--ion-color-lightest-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightest-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightest-shade);
  --ion-color-tint: var(--ion-color-lightest-tint);
}
