/* Disable dynamic font scaling */
html {
  --ion-dynamic-font: initial;
}
.squat ion-text h1 {
  font-size: 2.2rem;
}

.squat ion-text .h2,
.squat ion-text h2 {
  font-size: 1.5rem;
}

.squat ion-text .h3,
.squat ion-text h3 {
  font-size: 1rem;
}

.squat ion-text .h4,
.squat ion-text h4 {
  font-size: 1rem;
}

.squat ion-text.equal-margin-top > * {
  margin-top: 10px;
}
.squat ion-text.no-margin > * {
  margin: 0;
}

/* Grid */
ion-grid.no-padding {
  padding: 0;
}
ion-grid.margin-top {
  margin-top: 30px;
}
ion-grid.no-padding ion-col {
  padding-top: 0;
  padding-bottom: 0;
}
ion-grid.divider {
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 24px;
}
ion-row.input-row > ion-col {
  min-height: 0;
}

.flipped {
  transform: rotate(180deg);
}
.use-flex {
  display: flex;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.top-padding {
  padding-top: 10px;
}
.top-padding.in-print {
  padding-top: 0;
}
.bottom-padding {
  padding-bottom: 10px;
}

.small-text {
  font-size: 14px;
}
.printable {
  display: none;
}

ion-toggle.squat-toggle {
  --track-background: #fff;
  --track-background-checked: #fff;
  --handle-background: var(--ion-color-primary);
  --handle-background-checked: var(--ion-color-primary);
  --handle-width: 14px;
  --handle-height: 14px;
  height: 14px;
  padding: 3px;
  border: 2px solid var(--ion-color-primary);
  border-radius: var(--border-radius);
}

ion-item.readonly-wrapper {
  --min-height: auto;
  --padding-start: 0;
  --inner-padding-end: 8px;
  --background-focused: none;
}

ion-textarea {
  word-break: break-all;
  margin-top: 0 !important;
  min-height: 42px !important;
  --padding-start: 12px !important;
  --padding-end: 12px !important;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --border-color: var(--ion-color-medium) !important;
}

ion-textarea:read-only {
  --border-width: 1px !important;
}

/* General alerts */
ion-grid.infobox.info {
  background-color: var(--ion-color-lightest);
  border: 1px solid var(--ion-color-light);
  margin-bottom: 1em;
}
ion-grid.infobox.warning {
  background-color: var(--ion-color-warningbg);
  border: 1px solid var(--ion-color-warning);
  margin-bottom: 1em;
}
ion-grid.infobox.error {
  background-color: var(--ion-color-dangerbg);
  border: 1px solid var(--ion-color-danger);
  margin-bottom: 1em;
  color: var(--ion-color-danger);
}
.infobox.top-margin {
  margin-top: 1em;
  margin-bottom: 0;
}
ion-grid.infobox.page-top {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
ion-grid.infobox ion-col.icon {
  height: 22px;
  box-sizing: content-box;
}

ion-grid.infobox ion-icon {
  font-size: 22px;
}

ion-grid.infobox ion-text {
  color: var(--ion-color-dark);
}

ion-icon {
  pointer-events: none;
}

/* Forms */
.labelContainer {
  display: flex;
  min-height: 30px;
}

.labelContainer ion-text {
  margin-top: 5px;
  margin-left: 5px;
}

.labelContainer ion-text.collapsible {
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
}

.labelContainer ion-button.no-background-focused {
  margin: 0 0 0 5px;
  min-height: 24px;
}

@media screen and (max-width: 575px) {
  /* Show whole label in mobile */
  .labelContainer ion-text.collapsible {
    white-space: normal;
  }
}

ion-item.item.no-padding {
  --inner-padding-start: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  --padding-top: 0;
}

ion-item.item-interactive {
  --border-color: var(--ion-color-dark);
  --min-height: 40px;
  --padding-start: 0;
}
ion-item.item-interactive.item-select {
  --padding-start: 10px;
}

ion-item.item-static {
  --min-height: 42px;
}

ion-item.item.align-center .sc-ion-label-md-s p {
  margin: 0.25rem 0;
}

ion-item.item.align-center ion-radio {
  display: inline-block;
  margin: 0;
}

.item-bottom {
  padding: 0;
}

.full-width {
  width: 100%;
}

.sc-ion-input-md-h {
  min-height: 42px !important;
}

.sc-ion-input-md-h .input-wrapper {
  padding-left: 0;
}

.sc-ion-input-md-h .label-text {
  color: var(--ion-color-medium);
}

.sc-ion-input-md-h .input-bottom {
  padding-left: 0;
}

.sc-ion-input-md-h .input-bottom .helper-text.sc-ion-input-md {
  color: var(--ion-color-medium);
}

.input-fill-outline.sc-ion-input-md-h {
  --border-color: var(--ion-color-dark);
}

ion-note.input-helper {
  color: var(--ion-color-medium);
  display: inline-block;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

ion-item.item-interactive.ion-invalid ion-note.input-error,
ion-text.input-error {
  display: flex;
  align-items: center;
}

ion-note.input-error ion-icon,
ion-text.input-error ion-icon {
  padding-right: 4px;
  font-size: 14px;
}

.item-input.sc-ion-label-md-h,
.item-input .sc-ion-label-md-h {
  max-width: none;
  margin-left: 0;
  overflow: visible;
}

.native-input.sc-ion-input-md {
  -moz-appearance: textfield;
  appearance: textfield;
  padding-inline-start: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

@-moz-document url-prefix() {
  input[type='number'] {
    -moz-appearance: textfield !important;
  }
}

ion-radio-group ion-grid ion-col.col-radio {
  padding: 0;
}

ion-radio-group ion-grid ion-item::part(native) {
  padding: 10px 0;
  cursor: pointer;
}

ion-radio-group ion-item ion-text p {
  margin: 0.25rem 0;
  font-size: 12px;
  line-height: 1rem;
}

ion-item.item-radio-unchecked ion-text > ion-img {
  filter: grayscale(1);
}

ion-item.item-radio-unchecked ion-text > ion-img.opaque {
  filter: opacity(30%);
}

ion-radio-group ion-item ion-radio {
  width: auto;
  --color-checked: var(--ion-color-primary);
}

ion-radio-group ion-item ion-radio::part(container) {
  width: 17px;
  height: 17px;
  border-width: 2px;
}

ion-radio-group ion-item ion-radio.radio-unchecked::part(container) {
  border-width: 1px;
  border-color: var(--ion-color-dark);
}

ion-button.icon-only {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  margin: 0 0 0 8px;
  vertical-align: top;
}
ion-button.icon-only::part(native) {
  min-height: 24px;
  min-width: 24px;
  box-shadow: none !important;
}
ion-button.icon-only.large::part(native) {
  min-height: 32px;
  min-width: 32px;
}

ion-icon.medium {
  font-size: 22px;
  --ionicon-stroke-width: 32px;
}

/* Segment buttons */
.squat ion-segment {
  background: none;
  padding-bottom: 1px;
  padding-right: 1px;
}
.squat ion-segment-button {
  height: 34px;
  min-height: auto;
  flex-basis: 50%;
}
.squat ion-segment-button:first-child,
.squat ion-segment-button:first-child::part(native) {
  border-radius: 20px 0 0 20px;
}
.squat ion-segment-button:last-child,
.squat ion-segment-button:last-child::part(native) {
  border-radius: 0 20px 20px 0;
}
.squat ion-segment-button ion-label {
  color: var(--ion-color-dark);
  white-space: normal;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
  overflow: visible;
}
.squat ion-segment-button.segment-button-checked {
  background: none;
}
.squat ion-segment-button.segment-button-checked ion-label {
  color: var(--ion-color-primary-contrast);
}
.squat ion-segment-button::part(native) {
  text-transform: none;
}
.squat ion-segment-button.segment-button-checked::part(native) {
  font-weight: 600;
}
.squat ion-segment-button::part(indicator) {
  top: 0;
  opacity: 1 !important;
  padding-inline: 0 !important;
}
.squat ion-segment-button::part(indicator-background) {
  height: 100% !important;
  background-color: var(--ion-color-lightest);
  border: 1px solid var(--ion-color-medium);
  border-width: 1px 0 1px 1px;
  box-sizing: border-box;
}
.squat ion-segment-button:first-child::part(indicator-background) {
  border-radius: 20px 0 0 20px;
}
.squat ion-segment-button:last-child::part(indicator-background) {
  border-radius: 0 20px 20px 0;
  border-width: 1px 1px 1px 0;
}
.squat ion-segment-button.segment-button-checked::part(indicator-background) {
  border-color: var(--ion-color-primary);
  background-color: var(--ion-color-primary);
}
.squat ion-segment-button:focus::part(indicator-background) {
  border: 2px solid var(--ion-color-tertiary);
}

/* Footer */
ion-footer.small ion-toolbar {
  --min-height: 32px;
}

/* Modals */
.gradient-top {
  height: 12px;
  background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-tertiary));
}

ion-modal ion-content {
  --padding-start: 28px;
  --padding-end: 28px;
  height: fit-content;
}

ion-modal ion-header {
  box-shadow: none !important;
}

ion-modal ion-footer {
  box-shadow: none !important;
}

@media (min-width: 768px) {
  ion-modal.medium {
    --height: 350px;
    --width: 600px;
  }
  ion-modal.large {
    --max-height: 600px;
    --min-height: 350px;
    --width: 768px;
  }
}
@media (max-width: 768px) {
  ion-modal {
    --height: 100%;
    --width: 100%;
  }
}

ion-modal ion-header.header-md::after {
  content: none;
}

ion-modal ion-footer.footer-md::before {
  content: none;
}

ion-modal ion-header ion-title {
  font-size: 24px;
  font-weight: bold;
  padding-inline: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
}

ion-modal ion-footer ion-toolbar.buttonBar {
  --min-height: 60px;
}

ion-modal ion-footer ion-toolbar.buttonBar ion-button {
  height: 48px;
  width: 175px;
  margin-right: 28px;
  margin-bottom: 28px;
}

.wrappable-title {
  overflow: visible;
  white-space: normal;
}

.version-title {
  font-size: 12px;
}

.no-background-focused {
  --background-focused: unset;
}

.no-background-focused.ion-focused {
  outline: 1px solid var(--ion-color-dark);
  z-index: 2;
  --background-focused: unset;
}

ion-item.external-link {
  color: var(--ion-color-primary);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  display: inline-block;
  margin-right: 30px;
  --inner-border-width: 0;
  --border-color: transparent;
  --border-radius: 0;
  --border-style: solid;
  --border-width: 1px;
  --background-hover: unset;
  --background-focused: unset;
  --min-height: 16px;
  --padding-end: 14px;
  --inner-padding-start: 1px;
  --inner-padding-end: 1px;
}

ion-item.external-link.ion-focused {
  --border-color: var(--ion-color-dark);
}

ion-item.external-link::part(native) {
  color: var(--ion-color-primary);
  text-decoration: underline;
  background: url('./img/externalLink.svg') no-repeat right center;
}

ion-item.external-link:hover::part(native) {
  text-decoration: none;
}

ion-content.embedded > ion-grid {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}

ion-content.embedded ion-col {
  padding-inline-start: 0px !important;
}
