ion-list.searchInputDropdownContainer {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  transition: all 150ms;
  max-height: min(calc(50vh - 250px), calc(5 * 40px + 2 * 8px));
  overflow-y: auto;
  z-index: 99;
}

ion-list.searchInputDropdownContainer ion-item {
  --min-height: 40px;
}
