.dvkMap {
  width: 100%;
  height: 100%;
  background: #cccccc;
}

.ios .dvkMap .ol-layers {
  z-index: -1 !important;
}

.dvkMap .ol-zoom {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 48px;
  background: transparent;
}

.dvkMap.mobile .ol-zoom {
  display: none;
}

.dvkMap .centerToOwnLocationControlContainer {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 160px;
  background: transparent;
}

.dvkMap.mobile .centerToOwnLocationControlContainer {
  top: auto;
  left: auto;
  right: 16px;
  bottom: 48px;
  background: transparent;
}

.dvkMap .openSidebarMenuControlContainer {
  left: 48px;
  top: 48px;
  background: transparent;
}
.dvkMap.mobile .openSidebarMenuControlContainer {
  left: 16px;
  top: 24px;
}

.dvkMap .searchbarControlContainer {
  left: 112px;
  top: 47px;
  background: var(--ion-color-dark);
  padding: 1px;
  border-radius: 0;
  max-width: calc(100% - 160px);
}
.dvkMap .searchbarControlContainer.focused {
  background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  padding: 2px;
}
.dvkMap.mobile .searchbarControlContainer {
  left: calc(16px + 42px + 16px);
  top: 23px;
  max-width: min(273px, calc(100% - 16px * 3 - 42px));
}
.dvkMap .searchbarControlContainer input {
  width: 333px;
  height: 43px;
  border: none;
  padding: 0 40px 0 12px;
  background: var(--ion-color-primary-contrast) url('../theme/img/search.svg') no-repeat right 12px center;
  background-size: 24px 24px;
  outline: none;
  max-width: 100%;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}
.dvkMap .searchbarControlContainer input.has-value {
  background-image: none;
}
.dvkMap .searchbarControlContainer input:focus-visible {
  background-position: right 11px center;
  width: 331px;
  height: 41px;
  padding-left: 11px;
}

.dvkMap .searchbarControlContainer button.clear {
  background: var(--ion-color-primary-contrast) url('../theme/img/close_primary.svg') no-repeat center;
  background-size: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 11px;
  right: 12px;
  border-radius: 0;
  margin: 0;
  display: none;
  box-shadow: none;
}
.dvkMap .searchbarControlContainer button.clear.show {
  display: block;
}
.dvkMap .searchbarControlContainer button.clear:hover {
  background-color: var(--ion-color-light);
  outline: none;
}
.dvkMap .searchbarControlContainer button.clear:focus {
  outline: none;
}
.dvkMap .searchbarControlContainer button.clear:focus-visible {
  outline: 1px solid var(--ion-color-dark);
}

.dvkMap .layerControlContainer {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 216px;
  background: transparent;
}

.dvkMap.mobile .layerControlContainer {
  top: auto;
  left: auto;
  right: 16px;
  bottom: 104px;
  background: transparent;
}

.dvkMap .ol-control > button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  background-color: var(--ion-color-primary-contrast);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.dvkMap .ol-zoom-in {
  background-image: url('../theme/img/zoomIn.svg');
  background-size: 18px 18px;
  margin-bottom: 16px;
}
.dvkMap .ol-control > button.ol-zoom-out {
  background-image: url('../theme/img/zoomOut.svg');
  background-size: 18px 4px;
}
.dvkMap .centerToOwnLocationControl {
  background-image: url('../theme/img/ownLocation.svg');
  background-size: 26px 26px;
}
.dvkMap .openSidebarMenuControl {
  background-image: url('../theme/img/menu.svg');
  background-size: 22px 15px;
}
.dvkMap .layerControl {
  background-image: url('../theme/img/layers.svg');
  background-size: 22px 22px;
}
.dvkMap .ol-control .layerControlOpen {
  background-color: var(--ion-color-primary);
  background-image: url('../theme/img/layersOpen.svg');
  background-size: 22px 22px;
}
.dvkMap .ol-control > button:hover {
  background-color: var(--ion-color-lighter);
  outline: none;
}
.dvkMap .ol-control > button:focus {
  outline: none;
}
.dvkMap .ol-control > button:focus-visible {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: 1px;
}
.dvkMap .ol-control > button:focus-visible:hover {
  outline: 2px solid var(--ion-color-primary-shade);
}

.dvkMap .mapDetailsControl {
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  color: var(--ion-color-dark);
  background-color: rgba(255, 255, 255, 0.75);
}

.dvkMap.mobile .mapDetailsControl {
  width: 100%;
  border-radius: 0 !important;
}

.dvkMap .mapDetailsControl .copyrightElem {
  padding-left: 5px;
  padding-right: 10px;
}

.dvkMap .mapDetailsControl .mousePositionLabelElem {
  padding-left: 5px;
  padding-right: 0px;
}

.dvkMap .mapDetailsControl .ol-mouse-position {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  padding-left: 5px;
  padding-right: 10px;
  background: none;
  min-width: 13em;
}

.dvkMap .mapDetailsControl .ol-scale-line {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
}

.dvkMap.mobile .mapDetailsControl .ol-scale-line {
  display: flex;
  justify-content: flex-end;
}

.dvkMap .ol-rotate {
  bottom: 48px;
  left: 48px;
  top: auto;
  right: auto;
  background: none;
}

.dvkMap.mobile .ol-rotate {
  left: 16px;
}

.dvkMap .ol-rotate > button {
  width: 34px;
  height: 34px;
  margin: 0;
  background: none;
  box-shadow: none;
}
.dvkMap .ol-rotate > button img {
  height: 34px;
  transition: all 50ms;
}
.dvkMap .ol-rotate > button:hover {
  background-color: transparent;
  outline: none;
}
.dvkMap .ol-rotate > button:hover img {
  height: 42px;
}

.dvkMap.mobile .ol-rotate > button {
  width: 22px;
  height: 22px;
}
.dvkMap.mobile .ol-rotate > button img {
  height: 22px;
}
.dvkMap.mobile .ol-rotate > button:hover img {
  height: 28px;
}

.dvkMap .infoTextControl {
  position: absolute;
  bottom: calc(48px + ((34px - 16px) / 2));
  left: calc(48px + 34px + 6px);
  font-size: 12px;
  line-height: 1rem;
  color: var(--ion-color-dark);
  text-shadow: -1px -1px 0 var(--ion-color-primary-contrast), -1px 1px 0 var(--ion-color-primary-contrast),
    1px -1px 0 var(--ion-color-primary-contrast), 1px 1px 0 var(--ion-color-primary-contrast);
  font-style: italic;
}

.dvkMap.mobile .infoTextControl {
  bottom: calc(48px + ((22px - 16px) / 2));
  left: calc(16px + 22px + 4px);
  font-size: 10px;
}
