#fairwayCardsContainer .title {
  padding: 0px 0px 0px 10px;
  height: 32px;
  width: 150px;
  color: #242222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

#fairwayCardsContainer .header {
  height: 24px;
  width: 86px;
  color: #242222;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

#fairwayCardsContainer .tableHeader {
  height: 20px;
  color: #242222;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}

#fairwayCardsContainer .fairwayCards {
  height: 20px;
  color: #242222;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  border-bottom: 1px solid lightgrey;
}

#fairwayCardsContainer .firstColumn {
  border-right: 1px solid lightgrey;
  padding-top: 0px;
}

#fairwayCardsContainer .secondColumn {
  padding-top: 0px;
}

#fairwayCardsContainer {
  width: 495px;
  background-color: #F8F8F8;
  box-shadow: 2px 0 8px 2px rgba(0,0,0,0.2);
}

#fairwayCardsContainer .openSidebarMenuControlContainer {
  left: 48px;
  top: 48px;
  background: transparent;
}

#fairwayCardsContainer .openSidebarMenuControl {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 21px;
  margin-bottom: 16px;
}

#fairwayCardsContainer .openSidebarMenuControl {
  background-image: url('../theme/img/menu.svg');
  background-size: 22px 15px;
}

#fairwayCardsContainer .searchBar {
  box-sizing: border-box;
  height: 45px;
  width: 271px;
  border: 1px solid #333333;
  border-radius: 1px;
  background-color: #FFFFFF;
}
