.ForecastGrid.clear {
  background: none;
}

.ForecastGrid {
  background: #ffffff;
  max-width: 450px;
}

.ForecastGrid ion-col {
  padding: 5px;
}

.ForecastGrid .HeaderRow {
  border-bottom: 1px solid #cccccc;
}

.ForecastGrid .HeaderRow ion-col:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.ForecastGrid .DateRow {
  border-bottom: 1px solid #cccccc;
}

.ForecastGrid .DateRow.hidden {
  display: none;
}

.ForecastGrid .ForecastRow {
  border-bottom: 1px solid #cccccc;
}

.ForecastGrid .ForecastRow ion-col:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.ForecastGrid .ForecastRow.hidden {
  display: none;
}

.ForecastGrid .ForecastColGreen {
  background: #90bda1;
}

.ForecastGrid .ForecastColYellow {
  background: #ffc300;
}

.ForecastGrid .ForecastColRed {
  background: #f79f9f;
}

.ForecastGrid .ChangePageButton {
  background: none;
  color: #333333;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}

.ForecastGrid .ChangePageButton:disabled {
  opacity: 0.5;
}
