#mapContainer {
  width: 100%;
  height: 100%;
}

#mapContainer .ol-zoom {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 48px;
  background: transparent;
}

#mapContainer .centerToOwnLocationControlContainer {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 160px;
  background: transparent;
}

#mapContainer .openSidebarMenuControlContainer {
  top: auto;
  left: auto;
  left: 48px;
  top: 48px;
  background: transparent;
}

#mapContainer .searchbarControlContainer {
  top: auto;
  left: auto;
  left: 112px;
  top: 48px;
  background: var(--ion-color-dark);
  padding: 1px;
  border-radius: 0;
}
#mapContainer .searchbarControlContainer:has(input:focus-visible) {
  background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
  padding: 2px;
}
#mapContainer .searchbarControlContainer input {
  width: 333px;
  height: 43px;
  border: none;
  padding: 0 40px 0 14px;
  background: var(--ion-color-lightest) url('../theme/img/search.svg') no-repeat right 12px center;
  background-size: 24px 24px;
  outline: none;
}
#mapContainer .searchbarControlContainer input:focus-visible {
  background-position: right 11px center;
  width: 331px;
  height: 41px;
  padding-left: 13px;
}

#mapContainer .layerControlContainer {
  top: auto;
  left: auto;
  right: 48px;
  bottom: 216px;
  background: transparent;
}

#mapContainer .ol-zoom-in,#mapContainer .ol-zoom-out,#mapContainer .centerToOwnLocationControl,#mapContainer .openSidebarMenuControl,#mapContainer .layerControl,#mapContainer .layerControlOpen{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 21px;
  margin-bottom: 16px;
}

#mapContainer .ol-zoom-in {
  background-image: url('../theme/img/zoomIn.svg');
  background-size: 18px 18px;
}
#mapContainer .ol-zoom-out {
  background-image: url('../theme/img/zoomOut.svg');
  background-size: 18px 4px;
}

#mapContainer .centerToOwnLocationControl {
  background-image: url('../theme/img/ownLocation.svg');
  background-size: 26px 26px;
}

#mapContainer .openSidebarMenuControl {
  background-image: url('../theme/img/menu.svg');
  background-size: 22px 15px;
}

#mapContainer .layerControl {
  background-image: url('../theme/img/layers.svg');
  background-size: 22px 22px;
}

#mapContainer .layerControlOpen {
  background-color: #0064AF;
  background-image: url('../theme/img/layersOpen.svg');
  background-size: 22px 22px;
}

#mapContainer .mapDetailsControl {
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.75);
}

#mapContainer .mapDetailsControl .copyrightElem {
  padding-left: 5px;
  padding-right: 10px;
}

#mapContainer .mapDetailsControl .mousePositionLabelElem {
  padding-left: 5px;
  padding-right: 0px;
}

#mapContainer .mapDetailsControl .ol-mouse-position {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  padding-left: 5px;
  padding-right: 10px;
  background: none;
  min-width: 13em;
}

#mapContainer .mapDetailsControl .ol-scale-line {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
}
