.sideBar {
  --width: 320px;
  z-index: 50000;
}

.sidebarMenu .contentGrid ion-row {
  padding: 12px 22px;
  border-bottom: 1px solid var(--ion-color-lighter);
}

.sidebarMenu ion-row.ion-no-padding {
  padding: 0;
  border-bottom: unset;
}
.sidebarMenu ion-row.ion-direction-column {
  flex-direction: column;
}

.sidebarMenu .contentGrid .header {
  padding: 0;
}
.sidebarMenu .contentGrid .header .logo {
  height: 95px;
}

.sidebarMenu .closeButton {
  --color: var(--ion-color-dark);
  --background-hover: var(--ion-color-lightest);
  --background-hover-opacity: 1;
  --background-focused: unset;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 30px;
  margin: 0 12px 12px 0;
}
.sidebarMenu .closeButton.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
.sidebarMenu .closeButton ion-icon {
  width: 24px;
  height: 24px;
}

.sidebarMenu h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.sidebarMenu ion-button.feedbackButton,
.sidebarMenu ion-button.languageSelection,
.dvkFooter ion-button.sourceText {
  color: var(--ion-color-dark);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 2px;
  text-decoration: underline;
  --background-hover: unset;
  --padding-start: 14px;
  --padding-end: 14px;
  --background-hover: unset;
  --background-focused: unset;
}

.sidebarMenu ion-row.locationPermission ion-col ion-toggle {
  border: 1px solid transparent;
}

.sidebarMenu ion-row.locationPermission ion-col ion-toggle:focus {
  border: 1px solid black;
}

.sidebarMenu ion-button.feedbackButton {
  border: 1px solid transparent;
  margin: .5rem 0 0;
  --padding-start: 0;
}

.sidebarMenu ion-button.feedbackButton:focus {
  border: 1px solid black;
}

.dvkFooter ion-button.sourceText {
  --padding-start: 0px;
  --padding-end: 0px;
  margin: 2px;
}

.sidebarMenu ion-button.languageSelection:hover,
.dvkFooter ion-button.sourceText:hover {
  text-decoration: none;
}
.sidebarMenu ion-button.languageSelection.ion-focused,
.dvkFooter ion-button.sourceText.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}

.sidebarMenu ion-button.button-disabled {
  opacity: 1;
  color: var(--ion-color-dark);
  font-weight: bold;
  text-decoration: none;
}

.sidebarMenu ion-button.icon-only {
  margin: 0 10px;
}

.sidebarMenu .contentGrid ion-item {
  color: var(--ion-color-primary);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  text-decoration: underline;
  display: inline-block;
  --inner-border-width: 0 0 0 0;
  --background-hover: unset;
  --background-focused: unset;
  --min-height: 40px;
}
.sidebarMenu .contentGrid ion-item.item-disabled {
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
}
.sidebarMenu .contentGrid ion-item.item-disabled.external {
  opacity: 0.5;
  text-decoration: none;
  font-weight: normal;
}

.sidebarMenu .contentGrid ion-item.internal {
  color: var(--ion-color-dark);
}

.sidebarMenu .contentGrid ion-item.ion-focused {
  outline: 1px solid var(--ion-color-primary);
}
.sidebarMenu .contentGrid ion-item.ion-focused::part(native) {
  color: var(--ion-color-primary);
}
.sidebarMenu .contentGrid ion-item.internal.ion-focused {
  outline: 1px solid var(--ion-color-dark);
}
.sidebarMenu .contentGrid ion-item.internal.ion-focused::part(native) {
  color: var(--ion-color-dark);
}

.sidebarMenu .contentGrid ion-item:hover {
  text-decoration: none;
}
.sidebarMenu .contentGrid ion-item:hover::part(native) {
  color: var(--ion-color-primary);
}
.sidebarMenu .contentGrid ion-item.internal:hover::part(native) {
  color: var(--ion-color-dark);
}

.sidebarMenu .contentGrid ion-item ion-icon[slot='start'] {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-inline-end: 24px;
  color: var(--ion-color-primary);
}
.sidebarMenu .contentGrid ion-item ion-icon[slot='end'] {
  width: 10px;
  height: 10px;
  margin: 0;
  margin-inline-start: 4px;
}
.sidebarMenu .contentGrid .locationPermission ion-item {
  color: var(--ion-color-danger);
  text-decoration: none;
  display: block;
  --min-height: 28px;
}
.sidebarMenu .contentGrid .locationPermission ion-item:hover::part(native) {
  color: var(--ion-color-danger);
}
.sidebarMenu .contentGrid .locationPermission ion-item ion-icon[slot='start'] {
  width: 16px;
  height: 16px;
  margin-inline-end: 8px;
}

.sideBar ion-footer {
  border-top: 1px solid var(--ion-color-lighter);
}

.sideBar ion-footer ion-toolbar ion-title small {
  white-space: nowrap;
  font-size: 12px;
  display: block;
  min-height: 18px;
}

.sideBar ion-footer ion-toolbar ion-title a {
  font-size: 12px;
  margin: 2px;
}

.sideBar ion-footer ion-toolbar ion-title a:hover,
.sideBar ion-footer ion-toolbar ion-title ion-item:hover {
  text-decoration: none;
  background-color: var(--ion-color-primary-contrast);
  cursor: pointer;
}

.sideBar ion-footer ion-item {
  margin-inline-start: 4px;
  color: var(--ion-color-dark);
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  text-decoration: underline;
  white-space: nowrap;
  display: inline-block;
  --inner-border-width: 0 0 0 0;
  --background-hover: unset;
  --background-focused: unset;
  --min-height: 40px;
}

.offlineSupport {
  font-size: 12px;
  line-height: 1.125rem;
  margin: 12px 22px 0;
}
.offlineSupport ion-item {
  font-size: 12px;
  line-height: 1.125rem;
  font-weight: bold;
  --min-height: auto;
}
.offlineSupport ion-icon {
  width: 16px;
}
.offlineSupport ion-icon.warning {
  color: var(--ion-color-warning);
}
.offlineSupport ion-icon.danger {
  color: var(--ion-color-danger);
}
.offlineSupport ion-icon[slot='start'] {
  margin: 0 8px 0 0;
}

.disabled {
  pointer-events: none;
  opacity: 50%;
}

.version {
  position: relative;
  top: 13px;
  right: 20px;
}
