.sideBar {
  --width: 320px;
}

.sidebarMenu ion-row {
  padding: 12px 22px;
  border-bottom: 1px solid var(--ion-color-lighter);
}

.sidebarMenu .header {
  border-bottom: 1px solid var(--ion-color-lighter);
  padding: 0;
}
.sidebarMenu .header .logo {
  width: 234px;
}

.sidebarMenu h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.sidebarMenu ion-button {
  text-transform: none;
}
.sidebarMenu ion-button.button-clear {
  color: var(--ion-color-primary);
}
.sidebarMenu ion-button.button-disabled {
  opacity: 1;
  color: var(--ion-color-dark);
}
