swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29%;
}

swiper-slide:first-child .not-fully-visible {
  background: linear-gradient(to left, transparent, var(--ion-color-light));
}

swiper-slide:last-child .not-fully-visible {
  background: linear-gradient(to right, transparent, var(--ion-color-light));
}

.wide swiper-slide {
  width: 25%;
}

div.tabs {
  border: 1px solid var(--ion-color-light);
  border-width: 1px 0;
  margin-top: 20px;
}

.tabs ion-button {
  margin: 0;
  width: 100%;
}

.tabs ion-button::part(native) {
  padding-top: 16px;
}

.tabs ion-label {
  font-size: 12px;
  letter-spacing: normal;
  color: var(--ion-color-dark);
}

.tabs .selected {
  font-weight: bold;
}

.tab-indicator {
  width: 40px;
  height: 2px;
  margin: 8px auto 0 auto;
}

.selected .tab-indicator {
  background-color: var(--ion-color-primary);
}
