.squat.warning.icon {
  width: 32px;
  height: 32px;
}

.squat.warning {
  color: var(--ion-color-dark);
  font-size: 14px;
}

.squat.warning.grid {
  background-color: var(--ion-color-dangerbg);
  border-width: 1px;
  border-color: var(--ion-color-danger);
  vertical-align: center;
}

.squat.warning.row {
  align-items: center;
}

.squat.warning.col {
  margin-left: 16px;
}
